In [1]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
print(1234)

1234

In [9]:
print(12.34)

12.34

In [10]:
print('hello world')

hello world

In [11]:
print(a)

5

In [12]:
# hello 5
# hello apple

In [20]:
print('Method-1')
print('hello', a)
print('hello', c)
print()
print('Method-2')
print('hello ' + str(a))
print('hello ' + c)
print()
print('Method-3')
print('hello %d'%a)
print('hello %s'%c)
print()
print('Method-4')
print('hello {}'.format(a))
print('hello {}'.format(c))

Method-1
hello 5
hello apple

Method-2
hello 5
hello apple

Method-3
hello 5
hello apple

Method-4
hello 5
hello apple

In [21]:
# i bought 3kgs of mango for 75.34
w = 3
f = 'mango'
p = 75.34

In [26]:
print("i bought",w,"kgs of",f,'for',p)
print("i bought "+str(w)+"kgs of "+f+' for '+str(p))
print("i bought %dkgs of %s for %0.2f"%(w,f,p))
print("i bought {}kgs of {} for {}".format(w,f,p))

i bought 3 kgs of mango for 75.34
i bought 3kgs of mango for 75.34
i bought 3kgs of mango for 75.34
i bought 3kgs of mango for 75.34

In [31]:
name = input("What's your name? ")

What's your name? ijk

In [32]:
print(name)

ijk

In [33]:
num = input("What's your fav number? ")

What's your fav number? 122

In [34]:
print(num)

122

In [35]:
print(type(name),type(num))

<class 'str'> <class 'str'>

In [37]:
num = int(input("What's your fav number? "))

What's your fav number? 145

In [38]:
print(type(name),type(num))

<class 'str'> <class 'int'>

In [39]:
# + - * / % //

print( 5 + 2 )
print( 5 - 2 )
print( 5 * 2 )
print( 5 / 2 )
print( 5 % 2 )
print( 5 // 2 )

7
3
10
2.5
1
2

In [41]:
# < > <= >= == !=

print( 5 > 2 )
print( 5 < 2 )
print( 5 >= 2 )
print( 5 <= 2 )
print( 5 == 2 )
print( 5 != 2 )

True
False
True
False
False
True

In [47]:
# and or not

a = 5
b = 7

print(a < 10 and b < 10)
print(a < 10 and b < 5)

print(a < 10 or b < 10)
print(a < 10 or b < 5)

True
False
True
True

In [49]:

a = None
print(not a)

a = 6
print(not a)

True
False

In [50]:
l = 5
b = 2

area = l *b

In [51]:
print(area)

10

In [2]:
# if-else
num = float(input("Enter any number : "))
if num % 2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter any number : 5
Number is odd

In [4]:
# if-else
num = float(input("Enter any number : "))
if num % 2 == 0:
    print('Number is even')

Enter any number : 5

In [7]:
# nested if-else
num = float(input("Enter any number : "))
if num % 2 == 0:
    print('Number is even')
    if num % 4 == 0:
        print("Number is divisible by 4")
else:
    print('Number is odd')

Enter any number : 20
Number is even
Number is divisible by 4

In [10]:
# nested if-else
num = float(input("Enter any number : "))
if num % 4 == 0:
    print("Number is divisible by 4 and even")
elif num %  2 == 0:
    print('Number is even')
else:
    print('Number is odd')

Enter any number : 5
Number is odd

In [13]:
a = 'mango'
if a == 'apple':
    print('a is a fruit')
elif a == 'mango':
    print("a is a seasonal fruit")

a is a seasonal fruit

In [14]:
# while loop
i = 1
while i <= 3:
    num = float(input("Enter any number : "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num %  2 == 0:
        print('Number is even')
    else:
        print('Number is odd')
    i = i + 1

Enter any number : 22
Number is even
Enter any number : 15
Number is odd
Enter any number : 12
Number is divisible by 4 and even

In [16]:
# while loop
opt = 'y'
while  opt == 'y':
    num = float(input("Enter any number : "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num %  2 == 0:
        print('Number is even')
    else:
        print('Number is odd')
    opt = input("Do you want to continue? y/n: ")
else:
    print("Thank you!!!")

Enter any number : 45
Number is odd
Do you want to continue? y/n: y
Enter any number : 36
Number is divisible by 4 and even
Do you want to continue? y/n: n
Thank you!!!

In [17]:
while True:
    num = float(input("Enter any number : "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num %  2 == 0:
        print('Number is even')
    else:
        print('Number is odd')

Enter any number : 25
Number is odd
Enter any number : 36
Number is divisible by 4 and even
Enter any number : 32
Number is divisible by 4 and even
Enter any number : 24
Number is divisible by 4 and even
Enter any number : 14
Number is even
Enter any number : 25
Number is odd
Enter any number : 36
Number is divisible by 4 and even
Enter any number : h

ValueError: could not convert string to float: 'h'

In [19]:
while True:
    num = float(input("Enter any number : "))
    
    if num == 25:
        print("Stopping...")
        break
    elif num == 15:
        print("Skipping...")
        continue
    
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num %  2 == 0:
        print('Number is even')
    else:
        print('Number is odd')

Enter any number : 41
Number is odd
Enter any number : 14
Number is even
Enter any number : 15
Skipping...
Enter any number : 36
Number is divisible by 4 and even
Enter any number : 35
Number is odd
Enter any number : 48
Number is divisible by 4 and even
Enter any number : 25
Stopping...

In [1]:
name = 'elephant'
sent = "elephant is an animal"

In [2]:
print(len(name),len(sent))

8 21

In [5]:
print(name[4],name[-4])

h h

In [8]:
name[:4]

'elep'

In [9]:
name[4:]

'hant'

In [12]:
name[4:8]

'hant'

In [13]:
name[3:8:2]

'pat'

In [15]:
name.capitalize(),sent.capitalize()

('Elephant', 'Elephant is an animal')

In [16]:
name.upper()

'ELEPHANT'

In [17]:
name.lower()

'elephant'

In [18]:
sent.title()

'Elephant Is An Animal'

In [19]:
name.title()

'Elephant'

In [22]:
name.center(20)

'      elephant      '

In [25]:
name.startswith('el')

True

In [26]:
name.endswith('t'),name.endswith('T')

(True, False)

In [27]:
name.zfill(12)

'0000elephant'

In [33]:
"this\tis\ta\ttest\tstatement".expandtabs(1)

'this is a test statement'

In [34]:
'      elephant      '.strip()

'elephant'

In [35]:
'      elephant      '.rstrip()

'      elephant'

In [36]:
'      elephant      '.lstrip()

'elephant      '

In [37]:
name.center(20).strip()

'elephant'

In [39]:
name+'el'.strip('el')

'elephant'

In [41]:
(name+'el').strip('el')

'phant'

In [42]:
name.replace('p','P')

'elePhant'

In [43]:
name

'elephant'

In [46]:
name.index('n'), sent.index('animal')

(6, 15)

In [47]:
name.find('n'), sent.find('animal')

(6, 15)

In [48]:
name.index('c')

ValueError: substring not found

In [51]:
temp = name.find('a')
if temp >= 0:
    print(temp)
else:
    print('character is not found')

5

In [52]:
name.count('e')

2

In [53]:
sent.count('an')

3

In [55]:
'nAMe'.swapcase()

'NamE'

In [56]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [58]:
temp = sent.split('an')

In [59]:
temp

['eleph', 't is ', ' ', 'imal']

In [60]:
'an'.join(temp)

'elephant is an animal'

In [61]:
name.isalnum()

True

In [62]:
name.isalpha()

True

In [67]:
test = input("enter any strin :")
if test.isalpha():
    print("Hi")

enter any strin :565

In [69]:
'\n\t\%'.isprintable()

False

In [72]:
' '.isspace()

True

In [73]:
name[::-1]

'tnahpele'

In [74]:
L = []

In [76]:
l = [1,2,3,'apple','ball','cat',3.14,4.5]

In [77]:
l

[1, 2, 3, 'apple', 'ball', 'cat', 3.14, 4.5]

In [81]:
l[4]

'ball'

In [80]:
l[4].index('a')

1

In [82]:
l[::-1]

[4.5, 3.14, 'cat', 'ball', 'apple', 3, 2, 1]

In [83]:
l.append('kiwi')

In [84]:
l

[1, 2, 3, 'apple', 'ball', 'cat', 3.14, 4.5, 'kiwi']

In [85]:
l.count('apple')

1

In [88]:
l[2] = 45

In [89]:
l

[1, 2, 45, 'apple', 'ball', 'cat', 3.14, 4.5, 'kiwi']

In [90]:
l.insert(5, 'papaya')

In [91]:
l

[1, 2, 45, 'apple', 'ball', 'papaya', 'cat', 3.14, 4.5, 'kiwi']

In [92]:
l.pop()

'kiwi'

In [93]:
l.remove(3.14)

In [94]:
l

[1, 2, 45, 'apple', 'ball', 'papaya', 'cat', 4.5]

In [95]:
l.reverse()

In [96]:
l

[4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2, 1]

In [102]:
L.extend(l[:4])

In [103]:
L

[4.5, 'cat', 'papaya', 'ball']

In [100]:
L.clear()

In [104]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

In [106]:
h = l

In [108]:
h.pop()

1

In [109]:
h

[4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2]

In [110]:
l

[4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2]

In [111]:
f = l.copy()

In [114]:
f.pop()

2

In [115]:
f

[4.5, 'cat', 'papaya', 'ball', 'apple', 45]

In [116]:
l

[4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2]

In [117]:
t = (4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2)

In [118]:
t

(4.5, 'cat', 'papaya', 'ball', 'apple', 45, 2)

In [120]:
del l[4]

In [121]:
l

[4.5, 'cat', 'papaya', 'ball', 45, 2]

In [123]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [125]:
t[4] = 'man'

TypeError: 'tuple' object does not support item assignment

In [ ]:
t.

In [127]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [128]:
for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [129]:
for i in name:
    print(i)

e
l
e
p
h
a
n
t

In [130]:
for i in l:
    print(i)

4.5
cat
papaya
ball
45
2

In [131]:
for i,j in zip(h,f):
    print(i,j)

4.5 4.5
cat cat
papaya papaya
ball ball
45 apple
2 45

In [132]:
h

[4.5, 'cat', 'papaya', 'ball', 45, 2]

In [133]:
f

[4.5, 'cat', 'papaya', 'ball', 'apple', 45]

In [134]:
for i in zip(h,f):
    print(i[0],i[1])

4.5 4.5
cat cat
papaya papaya
ball ball
45 apple
2 45

In [135]:
import random as rd

In [140]:
rd.randint(1,10)

5

In [1]:
D = dict() # {}
d = {'a':'apple','b':'ball',23:85462,3.14:'cat'}

In [2]:
d

{'a': 'apple', 'b': 'ball', 23: 85462, 3.14: 'cat'}

In [3]:
D

{}

In [4]:
d['a']

'apple'

In [6]:
d[23] = 400010

In [7]:
d

{'a': 'apple', 'b': 'ball', 23: 400010, 3.14: 'cat'}

In [8]:
d['e'] = list(range(5))

In [9]:
d

{'a': 'apple', 'b': 'ball', 23: 400010, 3.14: 'cat', 'e': [0, 1, 2, 3, 4]}

In [10]:
del d[23]

In [11]:
d

{'a': 'apple', 'b': 'ball', 3.14: 'cat', 'e': [0, 1, 2, 3, 4]}

In [ ]:
d.clear()

In [12]:
d.keys()

dict_keys(['a', 'b', 3.14, 'e'])

In [13]:
d.values()

dict_values(['apple', 'ball', 'cat', [0, 1, 2, 3, 4]])

In [14]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (3.14, 'cat'), ('e', [0, 1, 2, 3, 4])])

In [16]:
if 'y' in d:
    print(d['y'])

In [18]:
d.get('y'),d.get('a')

(None, 'apple')

In [21]:
D.update({'b':'bat','o':'onion'})

In [22]:
D

{'b': 'bat', 'o': 'onion'}

In [23]:
d.pop(3.14)

'cat'

In [24]:
d

{'a': 'apple', 'b': 'ball', 'e': [0, 1, 2, 3, 4]}

In [ ]:
d.popitem()

In [25]:
temp = {}
for i in [0, 1, 2, 3, 4]:
    temp.update({i:None})

In [26]:
temp

{0: None, 1: None, 2: None, 3: None, 4: None}

In [27]:
dict.fromkeys([0, 1, 2, 3, 4])

{0: None, 1: None, 2: None, 3: None, 4: None}

In [ ]:
{
    'abc': [12,32,34],
    'xyz': [34,45,56]
}

In [28]:
print(x)
print('hello')

NameError: name 'x' is not defined

In [29]:
try:
    print(x)
except:
    print('There is an error!!!!')
print('hello')

There is an error!!!!
hello

In [30]:
try:
    print(x)
except Exception as e:
    print('There is an error :', e)
print('hello')

There is an error : name 'x' is not defined
hello

In [34]:
try:
    print(3/0)
except NameError as e:
    print("Name error:", e)
except TypeError as e:
    print("Type error:", e)
except Exception as e:
    print(e)

division by zero

In [36]:
try:
    print(x=3)
except (NameError, TypeError) as e:
    print('There is an error:')

There is an error:

In [37]:
try:
    print('hello')
    raise ValueError("This is for test purpose!!")
except Exception as e:
    print(e)

hello
This is for test purpose!!

In [39]:
try:
    print(x)
except NameError as e:
    print('There is an error: ',e)
finally:
    x = 4

4

In [45]:
import random
import math

In [44]:
random.randint(0,10)

3

In [46]:
math.factorial(5)

120

In [47]:
import random as rd

In [48]:
rd.randint(1,10)

6

In [51]:
rd.randrange(1,10)

1

In [52]:
from math import sin, cos, factorial

In [53]:
factorial(5)

120

In [54]:
sin(90)

0.8939966636005579

In [55]:
from math import *

In [56]:
tan(90)

-1.995200412208242

In [57]:
# no arg no returns
def addition():
    a = float(input("a :"))
    b = float(input("b :"))
    print(a+b, a*b)

In [58]:
addition()

a :5
bin :12
17.0 60.0

In [59]:
# no arg with returns
def addition():
    a = float(input("a :"))
    b = float(input("b :"))
    return a+b, a*b

In [61]:
s,m = addition()

a :4
b :3

In [62]:
s,m

(7.0, 12.0)

In [63]:
ans = addition()

a :6
b :5

In [65]:
ans[0]

11.0

In [66]:
ans[1]

30.0

In [67]:
# with arg with returns
def addition(a,b):
    return a+b, a*b

In [68]:
c = float(input("c :")) 
d = float(input("d :"))

c :7
d :4

In [69]:
ans = addition(c,d)

In [70]:
ans

(11.0, 28.0)

In [75]:
# with arg with returns
def addition(a,b,c=10):
    return a+b+c, a*b*c

In [76]:
ans = addition(2,3)

In [77]:
ans

(15, 60)

In [78]:
ans = addition(2,3,4)

In [79]:
ans

(9, 24)

In [80]:
def isValid(a,b):
    if abs(a-b) < 10:
        return False
    else:
        return True

In [81]:
def primeCheck(a):
    for i in range(2,a):
        if a % i == 0:
            return False
    else:
        return True

In [82]:
def getInput():
    a = int(input("a :"))
    b = int(input("b :"))
    return a,b

In [86]:
a, b = getInput()
if isValid(a,b):
    prime = []
    for i in range(a,b):
        if primeCheck(i):
            prime.append(i)
else:
    print("Entered number is not satisfying the criteria")

a :20
b :30

In [87]:
prime

[23, 29]

In [88]:
f = lambda a,b,c : a+b+c

In [90]:
f(2,3,4)

9

In [91]:
h = lambda s : s.upper()

In [92]:
h('apple')

'APPLE'

In [93]:
l = ['apple','mango','orange','kiwi','papaya']

In [94]:
L = []
for i in l:
    L.append(h(i))

In [95]:
L

['APPLE', 'MANGO', 'ORANGE', 'KIWI', 'PAPAYA']

In [96]:
list(map(h,l))

['APPLE', 'MANGO', 'ORANGE', 'KIWI', 'PAPAYA']

In [99]:
def primeCheck(a):
    for i in range(2,a):
        if a % i == 0:
            return None
    else:
        return True

In [101]:
t = list(map(primeCheck,list(range(10,20))))

In [102]:
t

[None, True, None, True, None, None, None, True, None, True]

In [103]:
list(filter(None, t))

[True, True, True, True]

In [97]:

file handlin

visualization

SyntaxError: invalid syntax (<ipython-input-97-b65a3430466b>, line 1)