In [2]:
a=8
b=3
print (a+b)

11

In [3]:
num=15
name="apple"

In [5]:
print (name)

apple

In [6]:
print (num)

15

In [9]:
print ("hello world")

hello world

In [10]:
print ("hello "+name)

hello apple

In [14]:
print ("hello "+str(num))

hello 15

In [12]:
type(name)

str

In [20]:
type(n)

int

In [16]:
print ("hello",num)

hello 15

In [17]:
n=input("Enter the number :")

Enter the number :45

In [19]:
n=int(n)

In [25]:
#if-else
n=int(input("Enter the number :"))
if n%4==0:
    print ("divisible by 4")
elif n%2==0:
    print ("even")
else:
    print ("odd")

Enter the number :5
odd

In [27]:
name.capitalize()

'Apple'

In [33]:
name.casefold()

'apple'

In [34]:
name="apple"

In [38]:
name.count('p')

2

In [40]:
name.count("p")

2

In [42]:
s=name.encode('utf8')

In [44]:
s.decode()

'apple'

In [47]:
s.capitalize()

b'Apple'

In [48]:
s="  "

In [50]:
s.encode("utf-8")

b'  '

In [52]:
name.endswith('u')

False

In [53]:
name.startswith('t')

False

In [55]:
name.find('p')

1

In [61]:
d="elephant is an animal is"

In [62]:
d.index("is")

9

In [63]:
name.isalnum()

True

In [64]:
name.isalpha()

True

In [65]:
name.isprintable()

True

In [66]:
name.islower()

True

In [67]:
name.lower()

'apple'

In [68]:
name.upper()

'APPLE'

In [69]:
name.swapcase()

'APPLE'

In [70]:
name="aPPlE"

In [71]:
name.swapcase()

'AppLe'

In [73]:
name=name.casefold()

In [75]:
name.replace('p','o')

'aoole'

In [77]:
name=" apple "

In [78]:
name

' apple '

In [81]:
name.strip()

'apple'

In [82]:
d

'elephant is an animal is'

In [85]:
D=d.split()

In [86]:
D

['elephant', 'is', 'an', 'animal', 'is']

In [89]:
" ".join(D)

'elephant is an animal is'

In [90]:
name[::-1]

' elppa '

In [94]:
name[2:5:2]

'pl'

Elephant is an animal -> animal an is Elephant

In [95]:
len(d)

24

###  Remember the rules:

1. Rock beats scissors 
2. Scissors beats paper
3. Paper beats rock

In [5]:
opt="y"
while opt=="y":
    n=int(input("Enter the number :"))
    if n==10:
        break
    elif n == 15:
        continue
    if n%4==0:
        print ("divisible by 4")
    elif n%2==0:
        print ("even")
    else:
        print ("odd")
    opt=input("Do you want to continue? y/n :")

Enter the number :45
odd
Do you want to continue? y/n :y
Enter the number :78
even
Do you want to continue? y/n :y
Enter the number :15
Enter the number :12
divisible by 4
Do you want to continue? y/n :n

In [13]:
import random as r
l=["rock","paper","scissor"]

In [14]:
u=0
comp=0
while 1:
    comp=r.choice(l)
    user= input()
    if
    elif
    else

'scissor'

In [3]:
L=[1,"a","apple",2,"b","ball"]

In [18]:
L[2:6:2]

['apple', 'b']

In [19]:
L.index("b")

4

In [21]:
L[4]="ball"

In [23]:
del L[4]

In [25]:
L.append("bat")

In [26]:
L

[1, 'a', 'apple', 2, 'ball', 'bat']

In [27]:
L.insert(2,"cat?")

In [2]:
L

NameError: name 'L' is not defined

In [29]:
L.pop()

'bat'

In [34]:
L

[1, 'a', 'apple', 2, 'ball', 'a']

In [31]:
L.remove("cat?")

In [33]:
L.append("a")

In [36]:
L.count("a")

2

In [37]:
L.reverse()

In [40]:
L

['a', 'ball', 2, 'apple', 'a', 1]

In [39]:
L[::-1]

[1, 'a', 'apple', 2, 'ball', 'a']

In [1]:
t=(1, 'a', 'apple', 2, 'ball', 'a')

In [44]:
t.count

TypeError: 'tuple' object does not support item assignment

In [48]:
for i in range(11,20,2):
    print (i)

11
13
15
17
19

In [4]:
for i in L:
    print(i)

1
a
apple
2
b
ball

In [51]:
a=[2,5,4,8,9]
b=[4,5,5,1,7,3]

In [53]:
set(a)&set(b)

{4, 5}

In [54]:
d=[i for i in b if i <5]

In [55]:
d

[4, 1, 3]

In [57]:
set([1,1,2,2,3])

{1, 2, 3}

In [65]:
dit={'a':{'f':'apple','b':'ball'},1:'cat','d':4}

In [68]:
dit['g']= 44

In [69]:
dit

{'a': {'f': 'apple', 'b': 'ball'}, 1: 'cat', 'd': 4, 'g': 44}

In [70]:
dit.keys()

dict_keys(['a', 1, 'd', 'g'])

In [71]:
dit.values()

dict_values([{'f': 'apple', 'b': 'ball'}, 'cat', 4, 44])

In [73]:
for i in dit.items():
    print(i)

('a', {'f': 'apple', 'b': 'ball'})
(1, 'cat')
('d', 4)
('g', 44)

In [75]:
print(dit.items())

dict_items([('a', {'f': 'apple', 'b': 'ball'}), (1, 'cat'), ('d', 4), ('g', 44)])

In [5]:
import math

In [ ]:
pip install <name>
import <name>

In [6]:
math.sin(90)

0.8939966636005579

In [7]:
import random as r

In [10]:
r.randint(0,10)

0

In [11]:
import math as m

In [12]:
m.cos(0)

1.0

In [13]:
from random import randint,choice,sample

In [15]:
randint(1,15)

9

In [16]:
option = ['A',"B","C"]

In [19]:
choice(option)

'C'

In [20]:
name="apple"

In [24]:
sample(name,2)

['a', 'e']

In [32]:
s="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789~`!@#$%^&*()_+}|\?/><}"

In [40]:
''.join(sample(s,5))

'Q5^(u'

In [55]:
def adddition(a,b=100):
    return (int(a)+int(b)),(int(a)*int(b))

In [59]:
a=input()
b=input()
c,m=adddition(a,b)

10
5

In [60]:
c

15

In [61]:
m

50

In [13]:
i1=str(input("Enter r,p,s:"))
i2=str(input("Enter r,p,s:"))
if i1 == "r" and i2 == "p":
    print("i2 is the winner!")
elif i1 == "p" and i2 == "s":
    print("i2 is the winner!")
elif i1 == "s" and i2 == "r":
    print("i1 is the2 winner!")
elif i1 == "p" and i2 == "r":
    print("i1 is the winner!")
elif i1 == "s" and i2 == "p":
    print("i1 is the winner!")
elif i1 == "r" and i2 == "s":
    print("i1 is the winner!")

Enter r,p,s:r
Enter r,p,s:s
i1 is the winner!