### reference

Cheatsheet :- http://bit.ly/AIcheatsheet

Books :- http://bit.ly/AI_material

Videos :- http://bit.ly/AI_videos

GitHub :- http://bit.ly/AI_repos

Notebook :- https://bit.ly/3aKzQww

PPT :- https://1drv.ms/p/s!ArLkuKvmnNQcjEDo6gmjlidufaek?e=MPGGDQ

### contact links

https://www.linkedin.com/in/sharmasaravanan/
    
https://www.sharmasaravanan.com/

https://besoins.in

### Stock Open Price Predictions

In [3]:
# importing all libs
import re
from collections import Counter
from itertools import chain

import numpy as np
import pandas as pd

from nltk.corpus import stopwords

from sklearn.metrics import mean_squared_error as mse

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression,HuberRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor

In [ ]:
# regression technique

y = mx + c

y = m1x1+m2x2+....+c

In [6]:
stop = stopwords.words('english')

In [7]:
appleDataset = pd.read_csv("/Users/sharma/April_2021/satya/jay_friend/final/AppleNewsStock.csv")

In [8]:
appleDataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume,News
0,2006-12-01,13.114285,13.190000,12.871428,91.320000,13.045714,198769900,WHAT'S ON TONIGHT : 8 P.M. (TLC) ASHLEY JUDD A...
1,2006-12-04,13.125714,13.150000,12.928572,91.120003,13.017143,177384200,More on Housing Prices : The broadest governme...
2,2006-12-05,13.092857,13.190000,12.981428,91.269997,13.038571,165709600,NaN
3,2006-12-06,12.948571,13.055715,12.810000,89.830002,12.832857,159546100,Honoring R.W. Apple in Words and Food : About ...
4,2006-12-07,12.861428,12.928572,12.414286,87.040001,12.434286,251206900,"Homebuilders, and Worries Over Jobs, Lead a De..."

In [9]:
appleDataset.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2517.000000,2517.000000,2517.000000,2517.000000,2517.000000,2.517000e+03
mean,60.719774,61.302098,60.065740,260.556404,60.695236,1.345639e+08
std,36.218609,36.482248,35.930683,175.576176,36.204898,9.904975e+07
min,11.164286,11.607142,10.967143,78.199997,11.171429,1.147590e+07
25%,25.577143,25.857143,25.049999,112.879997,25.540001,6.363350e+07
50%,57.142857,57.655716,56.480000,179.300003,57.104286,1.077881e+08
75%,93.790001,94.639999,92.680000,400.289978,93.699997,1.774899e+08
max,134.460007,134.539993,131.399994,702.100037,133.000000,8.432424e+08

In [10]:
appleDataset.shape

(2517, 8)

In [11]:
# separating dataset into two sets as stock data and news data
stockData = appleDataset.loc[:, "Date":"Volume"]
newsData = appleDataset[['Date', "News"]]

In [12]:
stockData.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2006-12-01,13.114285,13.190000,12.871428,91.320000,13.045714,198769900
1,2006-12-04,13.125714,13.150000,12.928572,91.120003,13.017143,177384200
2,2006-12-05,13.092857,13.190000,12.981428,91.269997,13.038571,165709600
3,2006-12-06,12.948571,13.055715,12.810000,89.830002,12.832857,159546100
4,2006-12-07,12.861428,12.928572,12.414286,87.040001,12.434286,251206900

In [13]:
newsData.head()

         Date                                               News
0  2006-12-01  WHAT'S ON TONIGHT : 8 P.M. (TLC) ASHLEY JUDD A...
1  2006-12-04  More on Housing Prices : The broadest governme...
2  2006-12-05                                                NaN
3  2006-12-06  Honoring R.W. Apple in Words and Food : About ...
4  2006-12-07  Homebuilders, and Worries Over Jobs, Lead a De...

In [14]:
# checking for any value
print("Stock data result : ", stockData.isnull().any(), sep="\n")
print("News data result : ", newsData.isnull().any(), sep="\n")

Stock data result :
Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool
News data result :
Date    False
News     True
dtype: bool

In [15]:
# filling the null values in news data
newsData.fillna(method='ffill', inplace=True)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [16]:
newsData.head()

         Date                                               News
0  2006-12-01  WHAT'S ON TONIGHT : 8 P.M. (TLC) ASHLEY JUDD A...
1  2006-12-04  More on Housing Prices : The broadest governme...
2  2006-12-05  More on Housing Prices : The broadest governme...
3  2006-12-06  Honoring R.W. Apple in Words and Food : About ...
4  2006-12-07  Homebuilders, and Worries Over Jobs, Lead a De...

In [17]:
# considering one day value by taking the difference betweem next day
stockData = stockData.set_index('Date').diff(periods=1)
stockData['Date'] = stockData.index
stockData = stockData.reset_index(drop=True)

In [21]:
stockData.head()

       Open        Date
0       NaN  2006-12-01
1  0.011429  2006-12-04
2 -0.032857  2006-12-05
3 -0.144286  2006-12-06
4 -0.087143  2006-12-07

In [19]:
# dropping unwanted columns since we need only open data
stockData = stockData.drop(['High', 'Low', 'Close', 'Volume', 'Adj Close'], 1)

In [20]:
stockData.head()

       Open        Date
0       NaN  2006-12-01
1  0.011429  2006-12-04
2 -0.032857  2006-12-05
3 -0.144286  2006-12-06
4 -0.087143  2006-12-07

In [22]:
# dropping null rows
stockData = stockData[stockData.Open.notnull()]
print()
print(stockData.head())

       Open        Date
1  0.011429  2006-12-04
2 -0.032857  2006-12-05
3 -0.144286  2006-12-06
4 -0.087143  2006-12-07
5 -0.399999  2006-12-08

In [23]:
# creating new data where date and corresponding news along with opening price
news = []
openingPrice = []

for row in stockData.iterrows():
    openingPrice.append(row[1]['Open'])
    headline = newsData[newsData['Date'] == row[1]["Date"]]
    news.append(headline['News'].item())

# length of the price and news
print()
print("News :", len(news), "Opening Price :", len(openingPrice))

News : 2516 Opening Price : 2516

In [24]:
shortWord_Dictionary = {
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are"
}

In [25]:
# function for cleaning the text
def cleaning(raw):
    # replacing shortwords in text
    shortword_free = [shortWord_Dictionary[word] if word in shortWord_Dictionary else word for word in
                      raw.lower().split()]
    # removing special characters
    only_alphanumeric = re.sub("[^a-zA-Z0-9]", " ", ' '.join(shortword_free))
    # removing stop words from the text
    stopword_free = [word for word in only_alphanumeric.split() if word not in stop]
    return " ".join(stopword_free)

In [26]:
news[0]

'More on Housing Prices : The broadest government measure of house prices is calculated by the Office of Federal Housing Enterprise Oversight, the agency that oversees Fannie Mae and Freddie Mac. The idea at the heart of the index is a good one. It tries to do the same sor...Bucking McCain the Maverick : McCain goes maverick on Iraq; Borat as cultural ambassador; Iceland as eco-villain.Foolishly, an Angel Falls in Love and Rushes In ... and Up : This new stage adaptation of the Wim Wenders movie, in a production at the American Repertory Theater in Cambridge, Mass., is alternately stimulating and unsatisfying.As Ad Costs Rise, a Move to Challenge Pay-Per-Click : On some new shopping search sites, advertisers pay only when someone actually buys something, or when users view an ad.'

In [27]:
cleaning(news[0])

'housing prices broadest government measure house prices calculated office federal housing enterprise oversight agency oversees fannie mae freddie mac idea heart index good one tries sor bucking mccain maverick mccain goes maverick iraq borat cultural ambassador iceland eco villain foolishly angel falls love rushes new stage adaptation wim wenders movie production american repertory theater cambridge mass alternately stimulating unsatisfying ad costs rise move challenge pay per click new shopping search sites advertisers pay someone actually buys something users view ad'

In [28]:
cleanedNews = list(map(cleaning, news))

In [30]:
# time to normalize opening price
minCost = min(openingPrice)
maxCost = max(openingPrice)
misc = dict()
misc['minCost'] = minCost
misc['maxCost'] = maxCost

def normalize(cost):
    return (cost - minCost) / (maxCost - minCost)

normalizedOpeningprice = list(map(normalize, openingPrice))

print()
print('Before normalization :- ')
print(minCost)
print(maxCost)
print(np.mean(openingPrice))

print()
print('After normalization :- ')
print(min(normalizedOpeningprice))
print(max(normalizedOpeningprice))
print(np.mean(normalizedOpeningprice))

Before normalization :-
-15.55999700000001
16.239998
0.03914376510333863

After normalization :-
0.0
1.0
0.49053909489933395

In [31]:
# splitting the dataset into train and test
x_train, x_test, y_train, y_test = train_test_split(cleanedNews, normalizedOpeningprice, test_size=0.2,
                                                    random_state=3)

In [33]:
len(x_train),len(x_test)

(2012, 504)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer(min_df=3, ngram_range=(1,2))

In [36]:
x_trainVectorised = vect.fit_transform(x_train)
x_testVectorised = vect.transform(x_test)

In [37]:
x_trainVectorised

<2012x25159 sparse matrix of type '<class 'numpy.int64'>'
	with 323418 stored elements in Compressed Sparse Row format>

In [39]:
# defining models
LR = LinearRegression()
SVM = SVR()
RF = RandomForestRegressor()
KNN = KNeighborsRegressor()
AB = AdaBoostRegressor()
GB = GradientBoostingRegressor()
huber = HuberRegressor()

In [40]:
# function for training and prediction
def train_predict(model, trainX, trainY, testX, testY):
    model.fit(trainX, trainY)
    y_pred = model.predict(testX)
    acc_test = np.sqrt(mse(testY, y_pred))
    return acc_test

In [41]:
LR_acc = train_predict(LR, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of Linear Regression is %f" % LR_acc)
SVM_acc = train_predict(SVM, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of SVM is %f" % SVM_acc)
RF_acc = train_predict(RF, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of Random Forest Regressior   is %f" % RF_acc)
KNN_acc = train_predict(KNN, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of K-nearest neighbour is %f" % KNN_acc)
AB_ac = train_predict(AB, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of adaboosting is %f" % AB_ac)
GB_ac = train_predict(GB, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of gradient boosting is %f" % GB_ac)

The error score of Linear Regression is 0.063910
The error score of SVM is 0.048059
The error score of Random Forest Regressior   is 0.049845
The error score of K-nearest neighbour is 0.047553
The error score of adaboosting is 0.049152
The error score of gradient boosting is 0.050172

In [42]:
huber_ac = train_predict(huber, x_trainVectorised, y_train, x_testVectorised, y_test)
print("The error score of huber boosting is %f" % huber_ac)

The error score of huber boosting is 0.074347

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/_huber.py:296: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [45]:
KNN.fit(x_trainVectorised, y_train)

KNeighborsRegressor()

In [46]:
testNews = "Leaked document reveals Facebook conducted research to target emotionally vulnerable and insecure youth. Woman says note from Chinese 'prisoner' was hidden in new purse. 21,000 AT&T workers poised for Monday strike housands march against Trump climate policies in D.C., across USA  Kentucky judge won't hear gay adoptions because it's not in the child's \"best interest\"Multiple victims shot in UTC area apartment complex Drones Lead Police to Illegal Dumping in Riverside County | NBC Southern California An 86-year-old Californian woman has died trying to fight a man who was allegedly sexually assaulting her 61-year-old friend."

In [47]:
KNN.predict(vect.transform([cleaning(testNews)]))

array([0.47554358])

In [48]:
0.47554358 * (misc["maxCost"] - misc["minCost"]) + misc["minCost"]

-0.4377135337179041

In [52]:
from flask import Flask, request, render_template
import numpy as np

app = Flask(__name__)

In [53]:
@app.route("/", methods=["POST", "GET"])
def predict():
    if request.method == 'GET':
        return render_template('index.html')
    elif request.method == "POST":
        news = request.form.get('news')
        score = KNN.predict(vect.transform([cleaning(news)]))[0]
        value = round(score * (misc["maxCost"] - misc["minCost"]) + misc["minCost"],3)
        kwargs = {'score': value}
        return render_template('index.html', **kwargs)


if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [28/Apr/2021 11:13:11] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [28/Apr/2021 11:13:12] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [28/Apr/2021 11:13:14] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Apr/2021 11:13:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Apr/2021 11:13:17] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Apr/2021 11:13:18] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [28/Apr/2021 11:13:20] "POST / HTTP/1.1" 200 -

ANN/NN

1. VNN / MLP -> vector 
2. CNN -> image (LeNet5, alexnet, inception v5, imagenet, Resnet, densenet)
3. RNN -> Text, time series 

    3.1 LSTM -> DMN, DCN, Bi-LSTM, BiDAF

    3.2 GRU

load dataset

split dataset 

define a model

training

validation

tuning

cross validation