<center><h3>Useful Links</h3></center>

Cheatsheet :- http://bit.ly/AIcheatsheet

Books :- http://bit.ly/AI_material

Resumes :- http://bit.ly/AIresumes

GitHub :- http://bit.ly/AI_repos

In [1]:
print("hello world")

hello world

<center><h3>list of topics </h3></center>

<ol>
    <li>variables</li>
    <li>data types</li>
    <li>getting input</li>
    <li>print function</li>
    <li>string functions</li>
    <li>if else</li>
    <li>while loop</li>
    <li>for loop</li>
    <li>list</li>
    <li>tuple</li>
    <li>dictionary</li>
    <li>functions</li>
    <li>OOP</li>
    <li>error handling</li>
    <li>file handling</li>
    <li>importing libraries and modules</li>
    <li>graphs</li>
    <li>API's</li>
    <li>threading</li>
    
</ol>

for all the 19 concepts please refer the following notebook
       <a href="https://github.com/sharmasaravanan/Machine_learning/blob/master/MSME-Python.ipynb" >MSME-Python.ipynb</a>

<h3>variables</h3>

In [3]:
a = 5 # int
b = 3.14 # float
c = "apple" # string
d = True # bool

In [5]:
print(type(c))

<class 'str'>

In [6]:
A = "orange"

In [7]:
print(a)
print(A)

5
orange

In [10]:
A = 10

In [11]:
print(A)

10

#### type casting

In [13]:
print(type(a))

<class 'int'>

In [14]:
a = str(a)
print(type(a))

<class 'str'>

In [15]:
a

'5'

### Print function

In [16]:
print(a)

5

In [17]:
print(a,b,c)

5 3.14 apple

In [18]:
print(45464)

45464

In [19]:
print('hello world!!')

hello world!!

#### task-1

In [24]:
n = '5'

In [27]:
int(n+n+n)+int(n+n)+int(n)

615

### operators

In [ ]:
+ - * / % //  # arithmetic 

> < >= <= == !=  # conditional

not and or  # logical 

is in not in  # misc

### getting input

In [33]:
name = input("Enter your name : ")
num = input("Enter your age : ")

Enter your name : abc
Enter your age : 10

In [37]:
print(name,type(name))

abc <class 'str'>

In [38]:
print(num,type(num))

10 <class 'str'>

### if else

In [42]:
num = int(input("Enter any number : "))
if num % 2 == 0:
    print("even")
else:
    print("odd")

Enter any number : 5
odd

#### if else if

In [45]:
num = int(input("Enter any number : "))
if num % 4 == 0:
    print("divisible by 4")
elif num % 2 == 0:
    print("even")
else:
    print("odd")

Enter any number : 5
odd

### while loop

In [50]:
while True:
    num = int(input("Enter any number : "))
    if num == 25:
        print("good bye....")
        break
    elif num == 15:
        print("skipping...")
        continue

    if num % 4 == 0:
        print("divisible by 4")
    elif num % 2 == 0:
        print("even")
    else:
        print("odd")

Enter any number : 78
even
Enter any number : 98
even
Enter any number : 15
skipping...
Enter any number : 14
even
Enter any number : 25
good bye....

In [53]:
i = 1
while i <= 3:
    num = int(input("Enter any number : "))
    if num == 25:
        print("good bye....")
        break
    elif num == 15:
        print("skipping...")
        continue

    if num % 4 == 0:
        print("divisible by 4")
    elif num % 2 == 0:
        print("even")
    else:
        print("odd")
    
    i = i + 1 # i += 1

Enter any number : 17
odd
Enter any number : 25
good bye....

### Task-2

                    Rock paper scissor game

rock beats scissor

scissor beats paper

paper beats rock

### string functions

In [55]:
name = "elephant"
sentence = "elephant is an animal"

#### slicing

In [56]:
name[4]

'h'

In [57]:
name[-4]

'h'

In [58]:
name[2:]

'ephant'

In [59]:
name[:4]

'elep'

In [60]:
name[2:5]

'eph'

In [61]:
name[2:7:2]

'ehn'

In [62]:
name[2:7]

'ephan'

In [66]:
name[2:][1:5]

'phan'

In [67]:
name[-5:-1]

'phan'

In [68]:
name[::-1]

'tnahpele'

#### functions

In [71]:
caps = name.capitalize()

In [72]:
caps

'Elephant'

In [73]:
name.lower()

'elephant'

In [74]:
name.upper()

'ELEPHANT'

In [76]:
"nAmE".swapcase()

'NaMe'

In [77]:
sentence.title()

'Elephant Is An Animal'

In [80]:
name.center(55,"~")

'~~~~~~~~~~~~~~~~~~~~~~~~elephant~~~~~~~~~~~~~~~~~~~~~~~'

In [81]:
name.zfill(12)

'0000elephant'

In [82]:
name.startswith('el')

True

In [83]:
name.startswith('El')

False

In [85]:
name.endswith('nt')

True

In [89]:
temp = sentence.split()

In [92]:
temp

['elephant', 'is', 'an', 'animal']

In [93]:
tmp = sentence.split('an')

In [94]:
tmp

['eleph', 't is ', ' ', 'imal']

In [97]:
"an".join(tmp)

'elephant is an animal'

In [99]:
name.count('a')

1

In [100]:
sentence.count('an')

3

In [101]:
name.replace('p',"z")

'elezhant'

In [102]:
" apple ".lstrip()

'apple '

In [103]:
' apple '.strip()

'apple'

In [104]:
name.strip('nt')

'elepha'

In [109]:
len(sentence)

21

In [108]:
name.replace('e','')

'lphant'

In [110]:
name.islower()

True

In [111]:
name.isupper()

False

In [112]:
name.istitle()

False

In [113]:
name.isalpha()

True

In [114]:
sentence.isalnum()

False

In [115]:
' '.isspace()

True

In [116]:
"\t\t\n".isprintable()

False

In [120]:
name.isprintable()

True

In [118]:
name

'elephant'

### list

In [123]:
L = [] # list()

In [125]:
l = ['apple','mango',1,2,3.14,5.2]

In [126]:
l

['apple', 'mango', 1, 2, 3.14, 5.2]

In [127]:
l[2]

1

In [128]:
len(l)

6

In [129]:
l.append('kiwi')

In [130]:
l

['apple', 'mango', 1, 2, 3.14, 5.2, 'kiwi']

In [131]:
L.append('a')

In [132]:
L

['a']

In [133]:
L.clear()

In [134]:
L

[]

In [135]:
g = l.copy()

In [136]:
g

['apple', 'mango', 1, 2, 3.14, 5.2, 'kiwi']

In [137]:
l.index('mango')

1

In [139]:
l.insert(2,'orange')

In [140]:
l

['apple', 'mango', 'orange', 1, 2, 3.14, 5.2, 'kiwi']

In [141]:
l.pop()

'kiwi'

In [142]:
l.remove(1)

In [143]:
l

['apple', 'mango', 'orange', 2, 3.14, 5.2]

In [145]:
l[3] = 12

In [146]:
l

['apple', 'mango', 'orange', 12, 3.14, 5.2]

In [147]:
del l[4]

In [148]:
l

['apple', 'mango', 'orange', 12, 5.2]

In [149]:
l.reverse()

In [150]:
l

[5.2, 12, 'orange', 'mango', 'apple']

In [151]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [153]:
L.append('papaya')

In [154]:
L

['kiwi', 'papaya']

In [155]:
l

[5.2, 12, 'orange', 'mango', 'apple']

In [156]:
L+l

['kiwi', 'papaya', 5.2, 12, 'orange', 'mango', 'apple']

In [157]:
l.extend(L)

In [158]:
l

[5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya']

### tuple

In [162]:
t = (5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya')

In [163]:
t

(5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya')

In [164]:
l

[5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya']

In [166]:
t[3] = 'pap'

TypeError: 'tuple' object does not support item assignment

In [167]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [168]:
import random as rnd

In [176]:
num = rnd.randint(1,100)
print(num)

38

### dictionary

In [177]:
D = {} # dict()

In [178]:
d = {'a':'apple','b':'ball',2:'cat',"d":43,"l":l}

In [179]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 'd': 43,
 'l': [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya']}

In [180]:
d['a']

'apple'

In [181]:
d[2]

'cat'

In [183]:
d['d'] = 3.14

In [184]:
d['d']

3.14

In [185]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 'd': 3.14,
 'l': [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya']}

In [ ]:
del d['']

In [186]:
d[3.14] = "float"

In [187]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 'd': 3.14,
 'l': [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya'],
 3.14: 'float'}

In [188]:
d.fromkeys(['a','b'])

{'a': None, 'b': None}

In [190]:
d['x']

KeyError: 'x'

In [191]:
d.get('x')

In [192]:
d.pop(2)

'cat'

In [193]:
d

{'a': 'apple',
 'b': 'ball',
 'd': 3.14,
 'l': [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya'],
 3.14: 'float'}

In [194]:
d.update({'f':'fish','c':'cat'})

In [195]:
d

{'a': 'apple',
 'b': 'ball',
 'd': 3.14,
 'l': [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya'],
 3.14: 'float',
 'f': 'fish',
 'c': 'cat'}

### for loop

In [196]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [198]:
for i in range(21,26):
    print(i)

21
22
23
24
25

In [200]:
for i in l:
    if str(i).isalpha():
        print(i)

orange
mango
apple
kiwi
papaya

In [201]:
for i in d.items():
    print(i)

('a', 'apple')
('b', 'ball')
('d', 3.14)
('l', [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya'])
(3.14, 'float')
('f', 'fish')
('c', 'cat')

In [202]:
for k,v in d.items():
    print(k,v)

a apple
b ball
d 3.14
l [5.2, 12, 'orange', 'mango', 'apple', 'kiwi', 'papaya']
3.14 float
f fish
c cat

In [204]:
for k,v in d.items():
    if 'apple' in str(v):
        print(k)

a
l

In [206]:
list(d.keys())

['a', 'b', 'd', 'l', 3.14, 'f', 'c']

In [207]:
for i in d.keys():
    print(i)

a
b
d
l
3.14
f
c

In [209]:
a = [1,2,3,4,4,5,6,7]
b = [4,4,5,6,6,7,8]

In [210]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [211]:
c

[4, 5, 6, 7]

In [212]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)

In [213]:
c

[4, 5, 6, 7]

In [216]:
list(set(a)&set(b))

[4, 5, 6, 7]

### importing library

In [217]:
pip install libraryName # to install the library

Collecting libraryName
  Could not find a version that satisfies the requirement libraryName (from versions: )
No matching distribution found for libraryName
You are using pip version 10.0.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [218]:
import math

In [219]:
math.factorial(5)

120

In [234]:
import math as m

In [221]:
m.sin(90)

0.8939966636005579

In [222]:
from random import randint, choice

In [224]:
randint(1,20)

1

In [225]:
from random import *

In [ ]:
folder =>

In [ ]:
import folder as fld

fld.py1.func1

### functions

In [228]:
def addition():
    a = int(input("A :"))
    b = int(input("B :"))
    print(a+b,a*b)

In [229]:
addition()

A :5
B :3
8 15

In [230]:
def addition():
    a = int(input("A :"))
    b = int(input("B :"))
    return a+b,a*b

In [231]:
s,m = addition()

A :7
B :3

In [232]:
s

10

In [233]:
m

21

In [235]:
def fact(n):
    ans = m.factorial(n)
    return ans

In [237]:
number = int(input("Enter your number for calculating factorial :"))
factorial  = fact(number)
print(factorial)

Enter your number for calculating factorial :4
24

In [238]:
def fact(*args):
    ans = []
    for i in args:
        temp = m.factorial(i)
        ans.append(temp)
    return ans

In [240]:
fact(2,3,4,5)

[2, 6, 24, 120]

In [241]:
def testFunc(a:int, b:str):
    print(b*a)

In [243]:
f = lambda n: m.factorial(n)

In [245]:
f(2)

2

In [246]:
add = lambda a,b : a+b

In [247]:
add(5,7)

12

In [250]:
ll = l[2:]

In [251]:
ll

['orange', 'mango', 'apple', 'kiwi', 'papaya']

In [252]:
up = lambda ele : ele.upper()

In [253]:
for i in ll:
    append(up(i))

'APPLE'

In [254]:
list(map(up,ll))

['ORANGE', 'MANGO', 'APPLE', 'KIWI', 'PAPAYA']

In [257]:
list(map(str.upper,ll))

['ORANGE', 'MANGO', 'APPLE', 'KIWI', 'PAPAYA']