In [2]:
d.f <- 5

In [7]:
a <- 5
b <- 23.5
c <- "apple"
d <- TRUE

In [8]:
class(a)

[1] "numeric"

In [9]:
class(b)

[1] "numeric"

In [10]:
class(c)

[1] "character"

In [11]:
class(d)

[1] "logical"

In [15]:
print(c)

[1] "apple"

In [16]:
cat(a,b,c,d)

5 23.5 apple TRUE

In [19]:
f <- LETTERS[1:5]

In [20]:
f

[1] "A" "B" "C" "D" "E"

In [4]:
g <- list("apple",'ball',3)

In [5]:
class(g)

[1] "list"

In [6]:
g

[[1]]
[1] "apple"

[[2]]
[1] "ball"

[[3]]
[1] 3

In [ ]:
+ - * / %% ^

In [27]:
8%%4

[1] 0

In [34]:
name <- readline(prompt = "Enter your name :")

Enter your name :sharma

In [36]:
class(name)

[1] "character"

In [37]:
print(ls())

[1] "a"    "b"    "c"    "d"    "d.f"  "f"    "g"    "name"

In [38]:
cat("The area of the circle is",78.5)

The area of the circle is 78.5

In [40]:
print(paste("The area of the circle is",78.5))

[1] "The area of the circle is 78.5"

In [41]:
h <- paste("The area of the circle is",78.5)

In [43]:
z <- 78.5

In [44]:
paste("The area of the circle is",z)

[1] "The area of the circle is 78.5"

In [51]:
n <- 8 #readline(prompt = "Enter the value for n:")
if (n%%2==0){
    print("even")
} else {
    print("odd")   
}

[1] "even"

In [60]:
n <- readline(prompt = "Enter the value for n:")
if (n%%4==0){
    print("divisible by 4")
} else if (n%%2==0){
    print("even")
} else {
    print("odd")   
}

Enter the value for n:5

ERROR: Error in n%%4: non-numeric argument to binary operator

In [ ]:
> < >= <= == !=

&& || ! ^

In [59]:
j <- 2:10
mean(j)
median(j)
sum(j)

[1] 6

[1] 6

[1] 54

In [55]:
opt <- 
if 
    r <- readline()

[1] "A" "B" "C" "D" "E"

In [61]:
n

[1] "5"

In [65]:
as.numeric(readline(prompt = "enter"))

enter3.14

[1] 3.14

In [ ]:
#switch
#repeat
#while
for
#function
dataframe
#list

In [1]:
user <- readline(prompt = "Enter your choice :")
comp <- readline(prompt = "Enter Comp's choice :")

if (user=="quit"||user=="q"){
     print ("Good Bye....")
     break
}
print(paste("Your choice is ",user,"and computer choice is ",comp))
if (user==comp){ 
    print("Game is tie")
    next
} else if (user=="rock") {
      if (comp=="scissor") {
          print ("user won the game")
       } else {
          print ("Computer won the game")
       }
} else if (user=="scissor") {
       if (comp=="paper") {
          print ("user won the game")
       } else {
          print ("computer won the game")
       }
} else if (user=="paper") {
        if (comp=="rock") {
          print ("user won the game")
        } else {
          print ("computer won the game")
        }
} else {
        print ("Have a nice day....!!!")
}

Enter your choice :scissor
Enter Comp's choice :scissor
[1] "Your choice is  scissor and computer choice is  scissor"
[1] "Game is tie"

ERROR: Error in eval(expr, envir, enclos): no loop for break/next, jumping to top level

In [34]:
sample(1:10,3)

[1] 3 6 1

In [38]:
name <- "apple"
cnt <- 0

In [39]:
repeat {
    print(name)
    cnt <- cnt+1
    if (cnt >= 5){
        break
    }
}

[1] "apple"
[1] "apple"
[1] "apple"
[1] "apple"
[1] "apple"

In [40]:
cnt

[1] 5

In [43]:
0 -> cnt
while (cnt <= 5){
    print(name)
    cnt <- cnt+1
}

[1] "apple"
[1] "apple"
[1] "apple"
[1] "apple"
[1] "apple"
[1] "apple"

In [66]:
j <- list("rock","paper","sissor","q")
comp <- sample(j,1)

In [67]:
class(comp[0])

[1] "list"

In [68]:
sample(1:20,2)

[1] 5 2

In [69]:
if (comp == "paper"){
    print("yes")
}

In [78]:
x <- 2
y <- switch(
    x,
    "four",
    "two",
    "three"
)

In [79]:
y

[1] "two"

In [86]:
y <- switch(
    "object",
    color = "red",
    object = "rectangle",
    fruit = "apple"
)

In [82]:
x <- "fruit"

In [87]:
y

[1] "rectangle"

In [ ]:
x <- user input
y <- x
based on x, corresponding function will be invoked/called 
    in that function, we need to do specific operation

In [93]:
add <- function(a,b){
   return(a+b)
}

In [94]:
a <- as.numeric(readline(prompt = "a :"))
b <- as.numeric(readline(prompt = "b :"))
s <- add(a,b)

a :45
b :55

In [95]:
s

[1] 100

In [102]:
g <- list("a","apple",4,"b","ball",c(1,2,"d"))

In [105]:
g[6]

[[1]]
[1] "1" "2" "d"

In [106]:
for (i in g) {
    print(i)
}

ERROR: Error in parse(text = x, srcfile = src): <text>:1:3: unexpected string constant
4: }
5: '
     ^

In [100]:
g[2:4]

[[1]]
[1] "apple"

[[2]]
[1] 4

[[3]]
[1] "b"

In [1]:
l <- list()

In [2]:
l

list()

In [5]:
l <-c(l,5)

In [6]:
l

[[1]]
[1] 5

[[2]]
[1] 5

In [115]:
v <- as.list(c(1:10))

In [ ]:
circle <- function(){
    
}

rectangle <- function(){
    
}

triangle <- function(){
    
}
#input -> 1,2 3
user <- as.numeric(readline())
switch(user,circle(), ,)
#input -> circle,....
user <- readline()
switch(user,circle = circle(),rec....= rec.....(), .....))

In [123]:
g <- as.list(1:10)
for (i in g){
    if (i%%2==0){
        print(i)
    }
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

In [125]:
g <- as.list(1:10)
n <- list()
for (i in g){
    if (i%%2==0){
        n <-c(n,i)
    }
}
print(n)

[[1]]
[1] 2

[[2]]
[1] 4

[[3]]
[1] 6

[[4]]
[1] 8

[[5]]
[1] 10

In [127]:
as.character(n)

[1] "2"  "4"  "6"  "8"  "10"

In [128]:
n

[[1]]
[1] 2

[[2]]
[1] 4

[[3]]
[1] 6

[[4]]
[1] 8

[[5]]
[1] 10

In [132]:
df <- data.frame(
    student.name  = c("abc","def","ghi"),
    student.total = c(400,450,470)
    
)

In [133]:
df

  student.name student.total
1 abc          400
2 def          450
3 ghi          470

In [140]:
df$student_rank <-c(3,2,0)

In [141]:
df

  student.name student.total student.rank studentrank student_rank
1 abc          400           3            3           3
2 def          450           2            2           2
3 ghi          470           1            1           0

In [142]:
summary(df)

 student.name student.total  student.rank  studentrank   student_rank
 abc:1        Min.   :400   Min.   :1.0   Min.   :1.0   Min.   :0.000
 def:1        1st Qu.:425   1st Qu.:1.5   1st Qu.:1.5   1st Qu.:1.000
 ghi:1        Median :450   Median :2.0   Median :2.0   Median :2.000
              Mean   :440   Mean   :2.0   Mean   :2.0   Mean   :1.667
              3rd Qu.:460   3rd Qu.:2.5   3rd Qu.:2.5   3rd Qu.:2.500
              Max.   :470   Max.   :3.0   Max.   :3.0   Max.   :3.000