In [3]:
print("hello")
a <- 6
print(a)

[1] "hello"
[1] 6

In [ ]:
ctrl + alt + r

In [4]:
a <- 5

In [8]:
print(a)

[1] 5

In [6]:
10 -> b

In [7]:
b

[1] 10

In [9]:
c<-15

In [11]:
c.5 <- -15

In [12]:
c.5

[1] -15

In [13]:
2.d <- 2

ERROR: Error in parse(text = x, srcfile = src): <text>:1:3: unexpected symbol
1: 2.d
      ^

In [14]:
i <- 5
f <- 3.14
s <- "apple"
b <- TRUE

In [15]:
i

[1] 5

In [16]:
f

[1] 3.14

In [17]:
class(i)

[1] "numeric"

In [20]:
class(b)

[1] "logical"

In [23]:
print(i)

[1] 5

In [24]:
print(s)

[1] "apple"

In [25]:
print("The name of the fruit is ",s)

Warning message in print.default("The name of the fruit is ", s):
“NAs introduced by coercion”

ERROR: Error in print.default("The name of the fruit is ", s): invalid 'digits' argument

In [28]:
print(paste("The name of the fruit is ",s))

[1] "The name of the fruit is  apple"

In [40]:
cat("The name of the fruit is ",s)

The name of the fruit is  apple

In [30]:
i.char <- as.character(i)

In [34]:
i

[1] 5

In [37]:
as.numeric(i.char) #converting character to integer

[1] 5

In [41]:
n <- 5
n <- as.character(n)
ans <- as.numeric(paste(n,n,n))

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [43]:
as.numeric(paste(n,n,n))

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [49]:
as.integer(paste0(n,n,n))

[1] 555

In [66]:
l <- 1:10

In [68]:
LETTERS[1:10]

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J"

In [69]:
letters[1:10]

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [73]:
letters[1:10]

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [ ]:
#arithmetic
+ - * %% /

#conditional
> < >= <= == !=

#logical

&& || !

In [80]:
num <- as.numeric(readline(prompt = "Enter the numerical value :"))

Enter the numerical value6

In [81]:
print(num)

[1] 6

In [82]:
class(num)

[1] "numeric"

In [89]:
num <- as.numeric(readline(prompt = "Enter the numerical value :"))
if (num %% 2 == 0) {
    print("Even")
} else {
    print("Odd")
}

Enter the numerical value :6
[1] "Even"

In [91]:
num <- as.numeric(readline(prompt = "Enter the numerical value :"))
if (num %% 4 == 0) {
    print("Divisible by 4 and also even")
} else if (num %% 2 == 0){
    print("Even")
} else {
    print("Odd")
}

Enter the numerical value :10
[1] "Even"

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

In [114]:
user <- readline(prompt = "Enter your choice :")
comp <- readline(prompt = "Enter Comp's choice :")

if (user=="quit"||user=="q"){
     print ("Good Bye....")
}
cat("Your choice is ",user,"and computer choice is ",comp)
if (user==comp){ 
    print("Game is tie")
} else if (user=="rock") {
      if (comp=="scissor") {
          print ("user won the game")
       } else {
          print ("Computer won the game")
       }
} else if (user=="scissor") {
       if (comp=="paper") {
          print ("user won the game")
       } else {
          print ("computer won the game")
       }
} else if (user=="paper") {
        if (comp=="rock") {
          print ("user won the game")
        } else {
          print ("computer won the game")
        }
} else {
        print ("Have a nice day....!!!")
}

Enter your choice :paper
Enter Comp's choice :rock
Your choice is  paper and computer choice is  rock[1] "user won the game"

In [ ]:
repeat
while
for
function
dataframe
list
switch

In [101]:
l <- list("paper","rock","scissor")

In [107]:
if ("rock" %in% c("paper","rock","scissor")) {
    print("yes")
}

[1] "yes"

In [109]:
c <- readline()

Rock

In [111]:
print(c)

[1] "Rock"

In [116]:
if (user %in% c("rock","paper","scissor")){
    if ((user == "rock" && comp == "scissor")||(user == "scissor" && comp == "paper")||(user == "paper" && comp == "rock")){
        print("user won the game")
    } else {
        print("Comp wont the game")
    }
} else {
    print("Invalid input")
}

[1] "user won the game"

In [117]:
cnt <- 1
repeat{
    print("hello")
    cnt <- cnt + 1
    if (cnt > 3){
        break
    }
}

[1] "hello"
[1] "hello"
[1] "hello"

In [120]:
cnt <- 0
while (cnt < 3){
    print("hello")
    cnt <- cnt + 1
}

[1] "hello"
[1] "hello"
[1] "hello"

In [125]:
repeat{
    
}

Enter your choice :rock
Enter Comp's choice :paper
Enter your choice :quit
Enter Comp's choice :rock
Comp wont the gameInvalid inputGoodbye

In [150]:
opt = "yes"
choice <- c("rock","paper","scissor")
while (opt=="yes"){
    user <- readline(prompt = "Enter your choice :")
    comp <- sample(choice,1)
    cat("Your choice is ",user,"and computer choice is ",comp,'\n')
    if ((user == "quit")||(user == "q")){
        cat("Goodbye","\n")
        flush.console()
        break
    }else if (user %in% choice){
        if ((user == "rock" && comp == "scissor")||(user == "scissor" && comp == "paper")||(user == "paper" && comp == "rock")){
            cat("user won the game",'\n')
            flush.console()
        } else {
            cat("Comp won the game",'\n')
            flush.console()
        }
    } else {
        cat("Invalid input. Please enter the correct option",'\n')
        flush.console()
        next
    }

}

Enter your choice :paper
Your choice is  paper and computer choice is  scissor
Comp won the game
Enter your choice :nslkdnfl
Your choice is  nslkdnfl and computer choice is  rock
Invalid input. Please enter the correct option
Enter your choice :q
Your choice is  q and computer choice is  scissor
Goodbye

In [144]:
sample(choice,1)

[1] "paper"

In [145]:
sample(1:10,3)

[1] 9 3 4

In [16]:
l <- list(2,1,3,'apple',"ball")

In [17]:
l

[[1]]
[1] 2

[[2]]
[1] 1

[[3]]
[1] 3

[[4]]
[1] "apple"

[[5]]
[1] "ball"

In [20]:
l <- c(l,"mango")

In [22]:
l[4] <- "papaya"

In [23]:
l

[[1]]
[1] 2

[[2]]
[1] 1

[[3]]
[1] 3

[[4]]
[1] "papaya"

[[5]]
[1] "ball"

[[6]]
[1] "mango"

In [24]:
l[2:4]

[[1]]
[1] 1

[[2]]
[1] 3

[[3]]
[1] "papaya"

In [48]:
l[-4]

[[1]]
[1] 2

[[2]]
[1] 1

[[3]]
[1] 3

[[4]]
[1] "ball"

[[5]]
[1] "mango"

In [45]:
for (i in l){
    cat(i,'\n')
}

2
1
3
papaya
ball
mango

In [46]:
'%ni%' <- Negate('%in%')

In [49]:
a <- 10

In [61]:
sprintf("The cost is %s for %0.2f/kg",(l),(1.5),'\n')

[1] "The cost is 2 for 1.50/kg"      "The cost is 1 for 1.50/kg"
[3] "The cost is 3 for 1.50/kg"      "The cost is papaya for 1.50/kg"
[5] "The cost is ball for 1.50/kg"   "The cost is mango for 1.50/kg"

In [66]:
A <- list(1,1,2,3,4,2,3,5,'apple',"ball","apple")
B <- list(2,4,6,7,'apple','apple',2,1)
C <- list()

In [67]:
for (i in A){
    if ((i %in% B) && (i %ni% C)){
        cat(i,'\n')
        C <- c(C,i)
    } 
}

1
2
4
apple

In [68]:
C

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 4

[[4]]
[1] "apple"

In [ ]:
for (i in A){
    for (j in B){
        if (i==j){
            
        }
    }
}

In [ ]:
for (i in length(A)){
    for (j in length(B)){
        if (A[i]==B[j]){
            print(A[i])
        }
    }
}

In [72]:
intersect(A,B)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 4

[[4]]
[1] "apple"

In [75]:
switch(1,"one","two","three")

[1] "one"

In [77]:
switch("color","fruit"="mango","color"="blue","veg"="carrot")

[1] "blue"

In [103]:
x <- "color"

In [104]:
y <- switch(x,"fruit"="mango","color"=add(a,b),"veg"="carrot")

In [83]:
x <- "veg"

In [105]:
y

[1] 12

In [87]:
add <- function(){
    a <- as.numeric(readline(prompt = "Enter the value for a :"))
    b <- as.numeric(readline(prompt = "Enter the value for b :"))
    print(a+b)
}

In [88]:
add()

Enter the value for a :5
Enter the value for b :6
[1] 11

In [89]:
add <- function(a,b){
    print(a+b)
}

In [92]:
a <- as.numeric(readline(prompt = "Enter the value for a :"))
b <- as.numeric(readline(prompt = "Enter the value for b :"))
add(a,b)

Enter the value for a :6
Enter the value for b :1

[1] 7

In [97]:
add <- function(a,b){
    return (a+b)
}

In [98]:
a <- as.numeric(readline(prompt = "Enter the value for a :"))
b <- as.numeric(readline(prompt = "Enter the value for b :"))
s <- add(a,b)

Enter the value for a :6
Enter the value for b :6

In [99]:
s

[1] 12

In [106]:
circle <- function(){
    r <- as.numeric(readline(prompt = "Enter the radius of the circle"))
    area <- 3.14*r*r
    cat("The area of the circle is ",area,'\n')
}

In [110]:
cat("Please select circle,rectangle,triangle",'\n')
x <- readline(prompt = "Enter the object name :")
switch(x,"circle" = circle(),"rectangle" = rectangle(),"triangle" = triangle())

Please select circle,rectangle,triangle
Enter the object name :rectangle

ERROR: Error in rectangle(): could not find function "rectangle"

In [111]:
install.packages("ggplot")

Installing package into ‘/home/sharma/R/x86_64-pc-linux-gnu-library/3.4’
(as ‘lib’ is unspecified)
Warning message:
“package ‘ggplot’ is not available (for R version 3.4.4)”

In [112]:
library("ggplot")

ERROR: Error in library("ggplot"): there is no package called ‘ggplot’