#### Github Repo link for this notebook

        http://bit.ly/AI_repos
        
#### Books for AI, DS and Python

        http://bit.ly/AI_material
        
#### Cheatsheets for DS libs
        
        http://bit.ly/AIcheatsheet
        
#### LInkedIn

        https://www.linkedin.com/in/sharmasaravanan

### Variables

In [ ]:
a,a1,a_2,name,A,first_name, surName, last_Name2,

### datatypes

In [1]:
a = 5 # int
b = 3.14  # float
c = "apple" # string
d = True # Bool

### print function

In [3]:
print(a)
print(c)

5
apple

In [4]:
print(41252363)

41252363

In [5]:
print("hello world")

hello world

In [8]:
g = 5
print(g)

5

In [9]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
# hello apple
# hello 5

In [15]:
print("Method-1")
print("hello",c)
print("hello",a)
print("-----------")
print("Method-2")
print("hello "+c)
print("hello "+str(a))
print("-----------")
print("Method-3")
print("hello %s"%c)
print("hello %d"%a)
print("-----------")
print("Method-4")
print("hello {}".format(c))
print("hello {}".format(a))

Method-1
hello apple
hello 5
-----------
Method-2
hello apple
hello 5
-----------
Method-3
hello apple
hello 5
-----------
Method-4
hello apple
hello 5

In [17]:
# i bought 3.5kgs of mango for 110Rs
w = 3.5
f = 'mango'
p = 110

In [20]:
print("i bought",w,"kgs of",f,'for',p,"Rs")
print("i bought "+str(w)+"kgs of "+f+" for "+str(p)+"Rs")
print("i bought %0.1fkgs of %s for %dRs"%(w,f,p))
print("i bought {}kgs of {} for {}Rs".format(w,f,p))

i bought 3.5 kgs of mango for 110 Rs
i bought 3.5kgs of mango for 110Rs
i bought 3.5kgs of mango for 110Rs
i bought 3.5kgs of mango for 110Rs

### getting input and if-else

In [27]:
num = int(input("Enter any number :"))
if num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number :5
odd

In [36]:
num = int(input("Enter any number :"))
if num % 4 == 0:
    print("Divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print("odd")
print("hello world")

Enter any number :5
odd
hello world

In [38]:
num = int(input("Enter any number :"))
if num % 4 == 0:
    print("Divisible by 4 and even")

if num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number :20
Divisible by 4 and even
even

In [ ]:
and or not

In [25]:
type(num)

int

In [28]:
5/2

2.5

In [29]:
5%2

1

In [48]:
print("This program can calculate the area of the following objects. Please select any one \n1.circle\n2.rectangle\n3.triangle")
choice = input("Your choice :")
if choice == '1' or choice == 'circle':
    r = float(input("Enter the radius :"))
    area =  (22/7)*r*r
    print("the area of the circle is {:.1f}".format(area))
elif choice == '2' or choice == 'rectangle':
    l = float(input("Enter the length :"))
    b = float(input("Enter the breadth :"))
    area =  l*b
    print("the area of the rectangle is {}".format(area))
elif choice == '3' or choice == 'triangle':
    h = float(input("Enter the height :"))
    b = float(input("Enter the base :"))
    area =  0.5*h*b
    print("the area of the triangle is {}".format(area))
else:
    print("please enter valid option")

This program can calculate the area of the following objects. Please select any one
1.circle
2.rectangle
3.triangle
Your choice :jsfbjkhk/
please enter valid option

In [50]:
22//7

3

### While loop

In [52]:
i = 1
while i <= 5:
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    i = i+1 #  i += 1
else:
    print("Iterations completed!!")

Enter any number :20
Divisible by 4 and even
Enter any number :14
even
Enter any number :78
even
Enter any number :95
odd
Enter any number :36
Divisible by 4 and even
Iterations completed!!

In [53]:
while True:
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter any number :52
Divisible by 4 and even
Enter any number :63
odd
Enter any number :32
Divisible by 4 and even
Enter any number :214
even
Enter any number :78
even
Enter any number :964
Divisible by 4 and even
Enter any number :j

ValueError: invalid literal for int() with base 10: 'j'

In [55]:
while True:
    num = int(input("Enter any number :"))
    if num == 15:
        print("Stopping!!!")
        break
    elif num == 25:
        print("Skipping")
        continue
        
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter any number :74
even
Enter any number :6
even
Enter any number :12
Divisible by 4 and even
Enter any number :6
even
Enter any number :25
Skipping
Enter any number :74
even
Enter any number :96
Divisible by 4 and even
Enter any number :15
Stopping!!!

### HW Task

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

https://w3resource.com/python-exercises/

http://www.practicepython.org/

### string

In [56]:
name = "elephant"
sent = "apple is a red fruit"

In [59]:
name[3],name[-5]

('p', 'p')

In [60]:
name[:3]

'ele'

In [61]:
name[3:]

'phant'

In [62]:
name[2:7]

'ephan'

In [63]:
name[2:7:2]

'ehn'

In [64]:
name[::-1]

'tnahpele'

In [65]:
len(name)

8

In [67]:
name[4] = 'T'

TypeError: 'str' object does not support item assignment

In [74]:
name.capitalize()
name.upper()
name.lower()
"NaMe".swapcase()
sent.title()
name.casefold()

'elephant'

In [77]:
name.center(28,'*')
name.center(28)
name.zfill(14)

'000000elephant'

In [80]:
name.startswith("El")
name.endswith("nt")

True

In [81]:
name.count('e')

2

In [82]:
name.replace('h','y')

'elepyant'

In [89]:
name.find('an')

5

In [88]:
name.index('an')

5

In [94]:
" elephant ".rstrip()
" elephant ".lstrip()
" elephant ".strip()
name.strip('nt')

'elepha'

In [99]:
sent.split()
temp = sent.split('a')
temp

['', 'pple is ', ' red fruit']

In [100]:
"a".join(temp)

'apple is a red fruit'

In [112]:
name.isalnum()
sent.isalnum()
"i ".isspace()
"\n\t".isprintable()
"1234.56".isdigit()

False

"Elephant is the biggest animal ." -> ". animal biggest the is elephant"

In [120]:
sentence = "Elephant is the biggest animal ."
print(" ".join(sentence.split()[::-1]))

. animal biggest the is Elephant

### error handling

In [122]:
print(x)
print("hello world")

NameError: name 'x' is not defined

In [124]:
try:
    print(x)
except:
    print("There is an error!!!")
print("hello world")

There is an error!!!
hello world

In [125]:
try:
    print(x)
except Exception as e:
    print("There is an error!!!")
    print(e)
print("hello world")

There is an error!!!
name 'x' is not defined
hello world

In [126]:
try:
    print(x)
except NameError as e:
    print(e)
print("hello world")

name 'x' is not defined
hello world

In [128]:
try:
    print(x=5)
except NameError as e:
    print(e)
except TypeError as te:
    print("TypeError :",te)
print("hello world")

TypeError : 'x' is an invalid keyword argument for this function
hello world

In [133]:
try:
    print(5/0)
except (NameError,ZeroDivisionError) as e:
    print(e)
except TypeError as te:
    print("TypeError :",te)
print("hello world")

division by zero
hello world

In [137]:
try:
    num = input("Enter any number :")
    if not num.isdigit():
        raise ValueError("Entered value is not a numerical value!!")
    num =  int(num)
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
except ValueError as e:
    print(e)

Enter any number :0
Divisible by 4 and even

### libraries

In [ ]:
pip install libraryName

In [138]:
import math

In [139]:
math.factorial(5)

120

In [140]:
import time as t

In [141]:
t.ctime()

'Sat Feb 15 15:23:15 2020'

In [142]:
from math import sin,cos,factorial,ceil

In [143]:
factorial(4)

24

In [144]:
sin(90)

0.8939966636005579

In [145]:
from datetime import *

In [148]:
print(date.today())

2020-02-15

### list

In [150]:
L = []

In [152]:
l = ['apple','ball','cat',1,2,3,3.2,4.8]

In [154]:
l[3] = 23

In [155]:
l

['apple', 'ball', 'cat', 23, 2, 3, 3.2, 4.8]

In [157]:
del l[6]

In [158]:
l

['apple', 'ball', 'cat', 23, 2, 3, 4.8]

In [159]:
l.append('papaya')

In [160]:
l

['apple', 'ball', 'cat', 23, 2, 3, 4.8, 'papaya']

In [161]:
l.insert(5,'kiwi')

In [162]:
l

['apple', 'ball', 'cat', 23, 2, 'kiwi', 3, 4.8, 'papaya']

In [163]:
l.pop()

'papaya'

In [164]:
l.remove(2)

In [165]:
l

['apple', 'ball', 'cat', 23, 'kiwi', 3, 4.8]

In [167]:
n = l

In [170]:
n.pop()

4.8

In [171]:
n

['apple', 'ball', 'cat', 23, 'kiwi', 3]

In [172]:
l

['apple', 'ball', 'cat', 23, 'kiwi', 3]

In [173]:
n = l.copy()

In [176]:
n.pop()

3

In [177]:
n

['apple', 'ball', 'cat', 23, 'kiwi']

In [178]:
l

['apple', 'ball', 'cat', 23, 'kiwi', 3]

In [179]:
l.reverse()

In [180]:
l

[3, 'kiwi', 23, 'cat', 'ball', 'apple']

In [181]:
l.extend(['papaya','pine apple','orange'])

In [184]:
l.remove(23)

In [186]:
l.sort()

In [187]:
l

['apple', 'ball', 'cat', 'kiwi', 'orange', 'papaya', 'pine apple']

In [188]:
t = ('apple', 'ball', 'cat', 'kiwi', 'orange', 'papaya', 'pine apple')

In [189]:
t

('apple', 'ball', 'cat', 'kiwi', 'orange', 'papaya', 'pine apple')

In [191]:
t[4] = 'carrot'

TypeError: 'tuple' object does not support item assignment

In [192]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [193]:
t[::-1]

('pine apple', 'papaya', 'orange', 'kiwi', 'cat', 'ball', 'apple')

### dictionary

In [194]:
D = {}

In [195]:
d = {'a':'apple','b':"ball",23:"cat",3.14:l[:4]}

In [196]:
d

{'a': 'apple', 'b': 'ball', 23: 'cat', 3.14: ['apple', 'ball', 'cat', 'kiwi']}

In [197]:
d['a']

'apple'

In [198]:
d[23]

'cat'

In [199]:
d[23]='dog'

In [200]:
d

{'a': 'apple', 'b': 'ball', 23: 'dog', 3.14: ['apple', 'ball', 'cat', 'kiwi']}

In [201]:
d['e'] = 'elephant'

In [202]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'dog',
 3.14: ['apple', 'ball', 'cat', 'kiwi'],
 'e': 'elephant'}

In [203]:
d.update({'f':'fish','k':"kiwi"})

In [204]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'dog',
 3.14: ['apple', 'ball', 'cat', 'kiwi'],
 'e': 'elephant',
 'f': 'fish',
 'k': 'kiwi'}

In [205]:
d.keys()

dict_keys(['a', 'b', 23, 3.14, 'e', 'f', 'k'])

In [208]:
list(d.values())

['apple',
 'ball',
 'dog',
 ['apple', 'ball', 'cat', 'kiwi'],
 'elephant',
 'fish',
 'kiwi']

In [207]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (23, 'dog'), (3.14, ['apple', 'ball', 'cat', 'kiwi']), ('e', 'elephant'), ('f', 'fish'), ('k', 'kiwi')])

In [209]:
d['x']

KeyError: 'x'

In [215]:
print(d.get('k'))

kiwi

### for loop

In [216]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [217]:
for i in range(21,31):
    print(i)

21
22
23
24
25
26
27
28
29
30

In [218]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [219]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6

In [222]:
for i in l:
    if len(i) > 4:
        print(i)

apple
orange
papaya
pine apple

In [220]:
for i in l:
    print(i)

apple
ball
cat
kiwi
orange
papaya
pine apple

In [221]:
for k,v in d.items():
    print(k,v)

a apple
b ball
23 dog
3.14 ['apple', 'ball', 'cat', 'kiwi']
e elephant
f fish
k kiwi

### Functions

In [225]:
def addition():
    a = int(input("a :"))
    b = int(input("b :"))
    s = a+b
    m = a*b
    print(s,m)

In [226]:
addition()

a :4
b :3
7 12

In [228]:
def addition(a,b):
    s = a+b
    m = a*b
    print(s,m)

In [229]:
a = int(input("a :"))
b = int(input("b :"))

a :8
b :5

In [230]:
addition(a,b)

13 40

In [231]:
def addition(a,b):
    s = a+b
    m = a*b
    return s,m

In [232]:
i,j = addition(a,b)

In [233]:
print(i)
print(j)

13
40

In [234]:
l

['apple', 'ball', 'cat', 'kiwi', 'orange', 'papaya', 'pine apple']

In [235]:
f = lambda s::s.upper()

In [236]:
for i in l:
    print(f(i))

APPLE
BALL
CAT
KIWI
ORANGE
PAPAYA
PINE APPLE

In [237]:
add = lambda a,b : a*b

In [238]:
add(8,3)

24

In [241]:
dict.fromkeys(map(f,l))

{'APPLE': None,
 'BALL': None,
 'CAT': None,
 'KIWI': None,
 'ORANGE': None,
 'PAPAYA': None,
 'PINE APPLE': None}

In [242]:
list(map(f,l))

['APPLE', 'BALL', 'CAT', 'KIWI', 'ORANGE', 'PAPAYA', 'PINE APPLE']

In [243]:
tuple(map(f,l))

('APPLE', 'BALL', 'CAT', 'KIWI', 'ORANGE', 'PAPAYA', 'PINE APPLE')