In [3]:
# step-1 load dataset
import pandas as pd
dataset = pd.read_csv("./Advertising.csv", index_col=0)

In [4]:
dataset

        TV  radio  newspaper  sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [5]:
dataset.columns

Index(['TV', 'radio', 'newspaper', 'sales'], dtype='object')

In [6]:
x = dataset[['TV', 'radio', 'newspaper']]
y = dataset['sales']

In [8]:
y

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: sales, Length: 200, dtype: float64

In [12]:
# step-2 split the dataset
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [13]:
dataset.shape

(200, 4)

In [15]:
xtrain.shape, xtest.shape

((160, 3), (40, 3))

In [16]:
# step-3 define a model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [17]:
LinearRegression?

In [19]:
#step-4 training
model.fit(xtrain,ytrain)

LinearRegression()

In [20]:
# step-7 testing
ypred = model.predict(xtest)

In [21]:
ypred

array([14.40062847, 12.87186425, 22.13155694, 14.81116505, 15.21049513,
       12.41423397, 15.54178046, 20.35930126, 17.06544173, 20.59182107,
        9.83784254,  8.97120988, 19.95924348,  5.87679641,  8.22432608,
       17.7665007 , 17.11645497, 12.75991493, 12.89401065, 19.68381702,
       17.29206018, 15.24304751, 19.4075965 , 21.63121071, 22.81866635,
       18.37598655, 13.75029395, 15.31327341, 23.30804823, 13.80299113,
       16.87476452, 10.55813131, 18.01669709,  9.83547928, 10.11087519,
        5.3877173 , 10.34798996, 16.84391307,  6.56412887, 17.21659635])

In [22]:
ytest

172    14.5
198    12.8
129    24.7
104    14.7
115    14.6
191    10.8
88     16.0
55     20.2
188    17.3
53     22.6
150    10.1
47     10.6
177    20.2
61      8.1
25      9.7
71     18.3
36     12.8
51     11.4
116    12.6
110    19.8
12     17.4
86     15.2
29     18.9
31     21.4
62     24.2
142    19.2
123    11.6
157    15.3
37     25.4
78     14.2
100    17.2
13      9.2
170    15.0
146    10.3
91     11.2
156     3.2
159     7.3
63     15.7
23      5.6
169    17.1
Name: sales, dtype: float64

In [23]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(ytest,ypred))

In [24]:
rmse

1.462376307187002

In [28]:
model.predict([[70,70,0]])

array([19.11045636])

In [ ]:
Cheatsheet :- http://bit.ly/AIcheatsheet
Books :- http://bit.ly/AI_material
GitHub :- http://bit.ly/AI_repos