In [2]:
a = 5
b = 6
print(a+b)

11

### datatypes

In [44]:
a = 5 # int
b = 3.14 # float
c = "apple" # string
d = True # bool

### type function

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### to display to the user using print

In [42]:
print(c)

apple

In [9]:
print(12345)

12345

In [10]:
print('hello world!!!')

hello world!!!

In [11]:
print(hello)

NameError: name 'hello' is not defined

In [41]:
# hello apple
# hello 5

In [51]:
# method-1
print("hello",c)
print('hello',a)
print()

# method-2
print("hello "+c)
print('hello '+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print("hello {}".format(a))
print("{} {}".format("hello",c))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5
hello apple

In [57]:
# I bought 2kgs of mango for 34.75Rs
f = 'mango'
w = 2
c = 34.75
print("I bought ",w,"kgs of ",f," for ",c,"Rs",sep='')
print("I bought "+str(w)+"kgs of "+f+" for "+str(c)+"Rs")
print('I bought %dKgs of %s for %0.2fRs'%(w,f,c))
print("I bought {}kgs of {} for {}Rs".format(w,f,c))

I bought 2kgs of mango for 34.75Rs
I bought 2kgs of mango for 34.75Rs
I bought 2Kgs of mango for 34.75Rs
I bought 2kgs of mango for 34.75Rs

### to get the input from the user using input

In [16]:
firstName = input('Enter your first name: ')
mobile = input("Enter your mobile number: ")

Enter your first name: xyz
Enter your mobile number: 123456987

In [19]:
print(firstName)
print(mobile)

xyz
123456987

In [20]:
print(type(firstName))
print(type(mobile))

<class 'str'>
<class 'str'>

In [22]:
a = '5'
type(a)

str

### type casting (type conversion)

In [24]:
mobile = int(mobile)

In [25]:
print(type(firstName))
print(type(mobile))

<class 'str'>
<class 'int'>

In [31]:
num = float(input('Enter any number: '))

Enter any number: 4

In [32]:
print(num)
print(type((num)))

4.0
<class 'float'>

### operators

In [33]:
# + - * / % //

print(5 + 2)
print(5 - 2)
print(5 * 2)
print(5 / 2)
print(5 % 2)
print(5 // 2)

7
3
10
2.5
1
2

In [34]:
# > < >= <= == !=

print(5 > 2)
print(5 >= 2)
print(5 < 2)
print(5 <= 2)
print(5 == 2)
print(5 != 2)

True
True
False
False
False
True

In [38]:
# and or not
a = 5
b = 7

print(a < 10 and b < 10)
print(a < 5 and b < 10)

print(a < 10 or b < 10)
print(a < 5 or b < 10)
print(a < 3 or b < 5)

True
False
True
True
False

In [40]:
a = 3
print(not a)
a = None
print(not a)

False
True

### if-else

In [59]:
num = float(input("Enter any number: "))

if num % 2 == 0:
    print("number is even")
else:
    print('number is odd')

Enter any number: 5
number is odd

In [61]:
num = float(input("Enter any number: "))

if num % 2 != 0:
    print("number is odd")
else:
    print('number is even')

Enter any number: 10
number is even

### nested if

In [63]:
num = float(input("Enter any number: "))

if num % 2 == 0:
    print("number is even")
    if num <= 10:
        print('Number is less than 10')
else:
    print('number is odd')

Enter any number: 12
number is even

### if-elif-else

In [68]:
num = float(input("Enter any number: "))

if num % 4 == 0:
    print("number is divisible by 4 and also even")
elif num % 2 == 0:
    print("number is even")
else:
    print('number is odd')

Enter any number: 5
number is odd

### area of three objects task

In [ ]:
1. print the options to te user
2. get the object from user
3. get the inputs for the corresponding object
4. calculate area
5. print area

### while

In [69]:
i = 0
while i < 5:
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    i = i + 1 # i += 1

Enter any number: 25
number is odd
Enter any number: 24
number is divisible by 4 and also even
Enter any number: 14
number is even
Enter any number: 36
number is divisible by 4 and also even
Enter any number: 12
number is divisible by 4 and also even

In [70]:
opt = 'y'
while opt == 'y':
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    opt = input("Do you want to continue? y/n :")

Enter any number: 42
number is even
Do you want to continue? y/n :y
Enter any number: 27
number is odd
Do you want to continue? y/n :n

In [71]:
opt = 'y'
while opt == 'y':
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')
    opt = input("Do you want to continue? y/n :")
else:
    print("It's done!!!")

Enter any number: 38
number is even
Do you want to continue? y/n :y
Enter any number: 47
number is odd
Do you want to continue? y/n :n
It's done!!!

In [73]:
while True:
    num = float(input("Enter any number: "))
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 25
number is odd
Enter any number: 14
number is even
Enter any number: 36
number is divisible by 4 and also even
Enter any number: 58
number is even
Enter any number: h

ValueError: could not convert string to float: 'h'

In [74]:
while True:
    num = float(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 25
number is odd
Enter any number: 14
number is even
Enter any number: 48
number is divisible by 4 and also even
Enter any number: 69
number is odd
Enter any number: 15
Stopping.....

In [75]:
while True:
    num = float(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    if num == 20 or num == 30:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("number is divisible by 4 and also even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print('number is odd')

Enter any number: 14
number is even
Enter any number: 18
number is even
Enter any number: 37
number is odd
Enter any number: 20
Skipping.....
Enter any number: 30
Skipping.....
Enter any number: 25
number is odd
Enter any number: 15
Stopping.....

### hw-1

write a python program for rock paper scissor game using the following rules

    rock beats scissor
    scissor beats paper
    paper beats rock

### string operations

In [1]:
name = "elephant"
sent = "elephant is an animal"

#### slicing

In [5]:
name[5],name[-3]

('a', 'a')

In [7]:
name[2:]

'ephant'

In [8]:
name[:4]

'elep'

In [10]:
name[2:7]

'ephan'

In [11]:
name[2:7:2]

'ehn'

In [62]:
name[::-1]

'tnahpele'

#### string functions

In [12]:
name.capitalize()

'Elephant'

In [13]:
name.lower()

'elephant'

In [14]:
name.upper()

'ELEPHANT'

In [15]:
'naME'.swapcase()

'NAme'

In [16]:
sent.title()

'Elephant Is An Animal'

In [17]:
sent.capitalize()

'Elephant is an animal'

In [20]:
name.center(25,'~')
name.center(25)

'         elephant        '

In [21]:
name.zfill(12)

'0000elephant'

In [22]:
len(name)

8

In [24]:
name.encode('utf16').decode('utf16')

'elephant'

In [26]:
name.startswith('el')
name.startswith('le')

False

In [28]:
name.endswith('nt')
name.endswith('nT')

False

In [29]:
name.count('e')

2

In [30]:
sent.count('an')

3

In [31]:
print('my\tname\tis\tabc')

my	name	is	abc

In [33]:
'my\tname\tis\tabc'.expandtabs(1)

'my name is abc'

In [34]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [37]:
temp = sent.split('an')
'an'.join(temp)

'elephant is an animal'

In [40]:
sent

'elephant is an animal'

In [38]:
sent.index('an')

5

In [42]:
name.find('e'), name.index('e')

(0, 0)

In [44]:
name.find('x')

-1

In [45]:
 name.index('x')

ValueError: substring not found

In [50]:
' elephant '.lstrip()
' elephant '.rstrip()
' elephant '.strip()

'elephant'

In [52]:
'elephantel'.strip('el')
'elephant'.strip('el')

'phant'

In [53]:
name.strip('el')

'phant'

In [54]:
name.replace('l','y')

'eyephant'

In [55]:
name.isalnum()

True

In [57]:
name.isalpha()
sent.isalpha()

False

In [58]:
name.isprintable()

True

In [59]:
"\t\%".isprintable()

False

In [61]:
" 2".isspace()

False

### task

write a python program to check whether the given string is palindrome or not

In [67]:
name = input("Enter any text to check :")
if name.isalpha():
    if name == name[::-1]:
        print("Palindrome")
    else:
        print('Not a palindrome')
else:
    print("Enter proper string")

Enter any text to check :malayalam
Palindrome

### list

In [69]:
L = []

In [70]:
l = [1,2,3,'apple','ball','cat',3.14,2.25]

#### slicing

In [72]:
l[3:]

['apple', 'ball', 'cat', 3.14, 2.25]

In [74]:
l[4] = 'bat'

In [75]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 3.14, 2.25]

In [77]:
del l[7]

In [79]:
len(l)

7

#### list functions

In [82]:
L.append('papaya')

In [83]:
L

['papaya']

In [84]:
l.append('papaya')

In [85]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 3.14, 'papaya']

In [86]:
l.index('cat')

5

In [87]:
l.insert(6,'kiwi')

In [88]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 3.14, 'papaya']

In [89]:
l.pop()

'papaya'

In [90]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 3.14]

In [91]:
l.remove(3.14)

In [92]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi']

In [94]:
L.clear()

In [95]:
L

[]

In [96]:
g = l

In [98]:
g.append("mango")

In [99]:
g

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [100]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [101]:
f = l.copy()

In [103]:
f.remove(2)

In [104]:
f

[1, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [105]:
l

[1, 2, 3, 'apple', 'bat', 'cat', 'kiwi', 'mango']

In [106]:
l.reverse()

In [107]:
l

['mango', 'kiwi', 'cat', 'bat', 'apple', 3, 2, 1]

In [109]:
l[:5].sort()

In [111]:
g = l[:5]

In [112]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple']

In [113]:
g.sort()

In [114]:
g

['apple', 'bat', 'cat', 'kiwi', 'mango']

In [115]:
g.sort(reverse=True)

In [116]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple']

In [118]:
g.extend(['orange','papaya'])

In [119]:
g

['mango', 'kiwi', 'cat', 'bat', 'apple', 'orange', 'papaya']

In [121]:
list('orange')

['o', 'r', 'a', 'n', 'g', 'e']

In [123]:
sent.split()

['elephant', 'is', 'an', 'animal']

### tuple

In [1]:
t = ('mango', 'kiwi', 'cat', 'bat', 'apple', 'orange')

In [2]:
t

('mango', 'kiwi', 'cat', 'bat', 'apple', 'orange')

In [3]:
t[:3]

('mango', 'kiwi', 'cat')

In [4]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [5]:
t[4] = 'ball'

TypeError: 'tuple' object does not support item assignment

### dictionary

In [33]:
D = {} # dict()

In [9]:
d = {'a':'apple','b':'ball',2:"cat","d":1234,3.14:785.262656,"g":h[:4]}

In [10]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 'd': 1234,
 3.14: 785.262656,
 'g': ['mango', 'kiwi', 'cat', 'bat']}

In [11]:
d['a']

'apple'

In [13]:
d[2] = 'donkey'

In [14]:
d[2]

'donkey'

In [15]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'donkey',
 'd': 1234,
 3.14: 785.262656,
 'g': ['mango', 'kiwi', 'cat', 'bat']}

In [16]:
del d[3.14]

In [17]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'donkey',
 'd': 1234,
 'g': ['mango', 'kiwi', 'cat', 'bat']}

In [18]:
d['k'] = 'kiwi'

In [19]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'donkey',
 'd': 1234,
 'g': ['mango', 'kiwi', 'cat', 'bat'],
 'k': 'kiwi'}

In [23]:
if 'x' in d:
    print(d['x'])

In [25]:
d.get('x'), d.get('a')

(None, 'apple')

In [26]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (2, 'donkey'), ('d', 1234), ('g', ['mango', 'kiwi', 'cat', 'bat']), ('k', 'kiwi')])

In [27]:
d.keys()

dict_keys(['a', 'b', 2, 'd', 'g', 'k'])

In [28]:
d.values()

dict_values(['apple', 'ball', 'donkey', 1234, ['mango', 'kiwi', 'cat', 'bat'], 'kiwi'])

In [29]:
d.pop('d')

1234

In [30]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'donkey',
 'g': ['mango', 'kiwi', 'cat', 'bat'],
 'k': 'kiwi'}

In [ ]:
d.popitem()

In [35]:
D.update(d)

In [36]:
D

{'a': 'apple',
 'b': 'ball',
 2: 'donkey',
 'g': ['mango', 'kiwi', 'cat', 'bat'],
 'k': 'kiwi'}

In [38]:
dict.fromkeys(t)

{'mango': None,
 'kiwi': None,
 'cat': None,
 'bat': None,
 'apple': None,
 'orange': None}

In [39]:
t

('mango', 'kiwi', 'cat', 'bat', 'apple', 'orange')

In [41]:
d.fromkeys(t)

{'mango': None,
 'kiwi': None,
 'cat': None,
 'bat': None,
 'apple': None,
 'orange': None}

In [42]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [43]:
for _ in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [44]:
for i in range(21,31):
    print(i)

21
22
23
24
25
26
27
28
29
30

In [45]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [46]:
for i in 'apple':
    print(i)

a
p
p
l
e

In [48]:
for i in h[:4]:
    print(i)

mango
kiwi
cat
bat

In [50]:
for i,j in zip(h,t[::-1]):
    print(i,j)

mango orange
kiwi apple
cat bat
bat cat
apple kiwi
orange mango

In [51]:
for k,v in d.items():
    print(k,'->',v)

a -> apple
b -> ball
2 -> donkey
g -> ['mango', 'kiwi', 'cat', 'bat']
k -> kiwi

### task-2

In [52]:
a = [2,1,2,3,4,2,1,2,3,4,5,6,1,2,4,5]
b = [2,3,4,1,1,2,2,3,3,4,5,6,7,2]

In [56]:
d = []
for i in a:
    if i in b and i not in d:
          d.append(i)

In [57]:
d

[2, 1, 3, 4, 5, 6]

In [59]:
set(a)&set(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
c = []
for i in a:
    if i < 4:
        c.append(i)

In [53]:
[i for i in a if i < 4]

[2, 1, 2, 3, 2, 1, 2, 3, 1, 2]

### HW-2

write a python code for guess game. refer to demo to understand the working/logic

use the followin code snippet to generate random number

<code>
import random as rd
rd.randint(0,100)
</code>

### error handling

In [1]:
print(y)
print("hello world")

NameError: name 'y' is not defined

In [2]:
try:
    print(y)
except:
    print("There is an error!!")
print("hello world")

There is an error!!
hello world

In [3]:
try:
    print(y)
except Exception as e:
    print(e)
    print("There is an error!!")
print("hello world")

name 'y' is not defined
There is an error!!
hello world

In [12]:
try:
    print(z)
except TypeError as te:
    print("There is type error :",te)
except NameError as ne:
    print("There is name error :",ne)

There is name error : name 'z' is not defined

In [14]:
try:
    print(z=5)
except (TypeError,NameError) as e:
    print("There is an error :",e)

There is an error : 'z' is an invalid keyword argument for this function

In [18]:
num = input("Enter any number: ")
try:
    num = float(num)
except:
    print("Please enter a valid integer")
    num = float(input("Enter any number: "))

if num % 2 != 0:
    print("number is odd")
else:
    print('number is even')

Enter any number: f
Please enter a valid integer
Enter any number: 20
number is even

### task-3

write a program to get the three subject marks from the three students and save it in the dictionary where key is the student's name.


the sample output is :

{'abc':[23,45,56]}

In [20]:
studentDict = dict()
for i in range(3):
    name = input("Enter your name: ")
    temp = []
    for j in range(1,4):
        mark = input("Enter the sub-{} mark: ".format(j))
        if mark.isalpha():
            print("Enter proper numerical value")
            mark = input("Enter the sub-{} mark: ".format(j))
        temp.append(mark)
    studentDict[name] = temp

Enter your name: abc
Enter the sub-1 mark: 25
Enter the sub-2 mark: 45
Enter the sub-3 mark: d
Enter proper numerical value
Enter your name: 55
Enter the sub-1 mark: 52
Enter the sub-2 mark: 36
Enter the sub-3 mark: 14
Enter your name: fgh
Enter the sub-1 mark: 45
Enter the sub-2 mark: 41
Enter the sub-3 mark: 36

In [22]:
studentDict = dict()
for i in range(3):
    name = input("Enter name: ")
    phy = int(input('phy'))
    chem = int(input('chem'))
    math = int(input('math'))
    studentDict.update({name:[phy,chem,math]})

Enter name: abc
phy12
chem23
math45
Enter name: sdf
phy12
chem34
math55
Enter name: 12
phy44
chem34
math21

In [23]:
studentDict

{'abc': [12, 23, 45], 'sdf': [12, 34, 55], '12': [44, 34, 21]}

### HW-3

write a python code for Cow-bull game.. use the following rule to build the game and refer to the demo

Note:- use the same two lines of code to generate random numbers

cow -> correct number and correct position

bull -> correct number and wrong position

### Libraries

#### to install the library

open your cmd prompt / terminal

type the followin command

<code>pip install libraryName </code>

#### to use the library

In [5]:
import random

In [7]:
random.randint(10,25)

10

In [8]:
import math

In [9]:
math.sqrt(25)

5.0

In [10]:
import random as rd

In [13]:
rd.choice(['rock','paper','scissor'])

'paper'

In [14]:
from math import factorial, sin, cos

In [15]:
factorial(5)

120

In [16]:
sin(90)

0.8939966636005579

In [17]:
from random import *

In [21]:
choices(['rock','paper','scissor'],k=2)

['rock', 'paper']

In [22]:
import numpy as np

In [23]:
l = list(range(9))

In [26]:
m = np.reshape(l,(3,3))

In [27]:
m

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [30]:
m[1]

array([3, 4, 5])

In [31]:
m[:,1]

array([1, 4, 7])

### functions

In [32]:
def addition():
    a = float(input('A :'))
    b = float(input('B :'))
    print(a+b , a*b)

In [33]:
addition()

A :2.5
B :1.6
4.1 4.0

In [34]:
def addition():
    a = float(input('A :'))
    b = float(input('B :'))
    return a+b,a*b

In [35]:
s,m = addition()

A :4
B :2

In [36]:
s

6.0

In [37]:
m

8.0

In [38]:
ans = addition()

A :5
B :3

In [41]:
ans

(8.0, 15.0)

In [42]:
def addition(a,b):
    return a+b,a*b

In [47]:
c = float(input('A :'))
d = float(input('B :'))

A :7
B :4

In [44]:
ans = addition(c,d)

In [45]:
ans

(11.0, 28.0)

In [46]:
def addition(a,b=10):
    return a+b,a*b

In [48]:
print(addition(c))

(17.0, 70.0)

In [49]:
print(addition(c,d))

(11.0, 28.0)

In [50]:
def addition(*args):
    return sum(args)

In [51]:
addition(2,3,4,5,6,7)

27

In [52]:
def addition(b,a=10):
    return a+b,a*b

In [ ]:
print(addition(a=c,b=d))

In [53]:
f = lambda *args : sum(args)

In [54]:
f(2,3,4,5,6,7)

27

In [55]:
j = lambda a,b,c : a*b*c

In [56]:
j(2,3,4)

24

In [57]:
l = ['apple','orange','mango']

In [58]:
f = lambda s : str(s).upper()

In [59]:
temp = []
for i in l:
    temp.append(f(i))

In [60]:
temp

['APPLE', 'ORANGE', 'MANGO']

In [61]:
list(map(f,l))

['APPLE', 'ORANGE', 'MANGO']

### hW-4

take two numbers from user and ensure the minimum difference between two numbers is 10 and calculate all the prime numbers between those numbers (Note: You have to use function) 


sample input - 1:
    
    Enter number for a: 5
    Enter number for b: 10 
sample output:
    
    Entered number is not satisfyin the condition 

sample input - 2:
    
    Enter number for a: 10
    Enter number for b: 20 
sample output:

    [11,13,17,19]

### oops

In [63]:
def takeInputs():
    a = float(input('Enter the value for a :'))
    b = float(input('Enter the value for b :'))
    return a,b

In [64]:
def display(a,b):
    print(f"User has entered {a} and {b}")

In [66]:
a , b = takeInputs()

Enter the value for a :5
Enter the value for b :3

In [67]:
display(a,b)

User has entered 5.0 and 3.0

In [69]:
class example:
    def takeInputs(self):
        self.a = float(input('Enter the value for a :'))
        self.b = float(input('Enter the value for b :'))

    def display(self):
        print(f"User has entered {self.a} and {b}")

In [68]:
b

3.0

In [70]:
ex = example()

In [71]:
ex.takeInputs()

Enter the value for a :45
Enter the value for b  :27

In [72]:
ex.display()

User has entered 45.0 and 3.0

In [73]:
class example:
    def takeInputs(self):
        self.a = float(input('Enter the value for a :'))
        self.b = float(input('Enter the value for b :'))

    def display(self):
        print(f"User has entered {self.a} and {self.b}")

In [74]:
ex = example()

In [75]:
ex.takeInputs()

Enter the value for a :14
Enter the value for b :13

In [76]:
ex.display()

User has entered 14.0 and 13.0

In [83]:
class example:
    def takeInputs(self):
        self.a = float(input('Enter the value for a :'))
        self.b = float(input('Enter the value for b :'))

    def display(self):
        self.takeInputs()
        print(f"User has entered {self.a} and {self.b}")

In [84]:
ex = example()

In [79]:
ex.display()

Enter the value for a :78
Enter the value for b :46
User has entered 78.0 and 46.0

In [ ]:
ex.

In [85]:
class example:
    def _takeInputs(self):
        self.a = float(input('Enter the value for a :'))
        self.b = float(input('Enter the value for b :'))

    def display(self):
        self._takeInputs()
        print(f"User has entered {self.a} and {self.b}")

In [86]:
ex = example()

In [82]:
ex.display()

Enter the value for a :32
Enter the value for b :41
User has entered 32.0 and 41.0

In [87]:
class calc:
    c = 5
    def add(self,a,b):
        print(a+b+calc.c)
    
    def mul(self,a,b):
        print(a*b*calc.c)

In [88]:
cal = calc()

In [89]:
cal.add(5,8)

18

In [90]:
class calc:
    def __init__(self,a,b):
        self.a = a
        self.b = b
        self.c = 5 

    def add(self):
        print(self.a+self.b+self.c)
    
    def mul(self):
        print(self.a*self.b*self.c)

In [91]:
cal = calc(5,3)

In [92]:
cal.add()

13

In [93]:
cal.mul()

75

In [94]:
class RPS:
    def __init__(self):
        self.p1 = input("Enter your name: ")
        self.p2 = input('Enter your name: ')
        self.temp = {self.p1: 0, self.p2: 0}
        self.options = ['rock', 'paper', 'scissor']

    def check(self):
        if self.user1 in self.options and self.user2 in self.options:
            if self.user1 == self.user2:
                return "Game is tie"
            elif self.user1 == "rock":
                if self.user2 == "scissor":
                    self.temp[self.p1] += 1
                else:
                    self.temp[self.p2] += 1
            elif self.user1 == "scissor":
                if self.user2 == "paper":
                    self.temp[self.p1] += 1
                else:
                    self.temp[self.p2] += 1
            elif self.user1 == "paper":
                if self.user2 == "rock":
                    self.temp[self.p1] += 1
                else:
                    self.temp[self.p2] += 1
        else:
            return "Invalid options"

    def winner(self):
        winnerDict = dict(sorted(self.temp.items(), key=lambda kv: kv[1]))
        return f'{winnerDict.popitem()[0]} is the winner of the game'

    def play(self):
        self.user1 = input("Enter your choice :")
        self.user2 = input("Enter your choice :")
        if self.user1 != 'q' or self.user2 != 'q':
            self.check()
        else:
            print("Good bye")
            return

In [95]:
rps = RPS()

Enter your name: ss
Enter your name: xx

In [96]:
for i in range(3):
    rps.play()

Enter your choice :rock
Enter your choice :paper
Enter your choice :paper
Enter your choice :scissor
Enter your choice :rock
Enter your choice :scissor

In [97]:
rps.winner()

'xx is the winner of the game'

In [98]:
class parent:
    def parentMethod(self):
        print("I am from parent")

In [99]:
class child(parent):
    def childMethod(self):
        self.parentMethod()
        print('I am from child')

In [100]:
child = child()

In [101]:
child.childMethod()

I am from parent
I am from child

In [102]:
parent = parent()

In [103]:
parent.parentMethod()

I am from parent

### HW-5

Write the python code for tic-tac-toe. refer to the demo

In [107]:
print('abc', '456' )

abc 456

In [19]:
file handling

visualization

API

SyntaxError: invalid syntax (<ipython-input-19-470ee7d9a502>, line 7)